#jackpotContainer {
    background-image    : url('../../images/jackpot_background_winter.gif');
}

#promo1decoration {
    background-image    : url('../../images/promo1_snow.gif');
}
#promo2 a {
    background-image    : url('../../images/promotion_register_winter.gif');
}
#logo {
    background-image    : url('../../images/logo_slotland_winter.gif');
}
