{include file="pageheader.html"}
<div class="list-div" id="listDiv">
<form method="POST" name="listForm" action="?controller=developer&action={$action|default:save}" onsubmit="return checkEdit();">
<table cellspacing='1' cellpadding='3' id='list-table'>
{if $action==update}
{else}
<tr>
<td class="narrow-label"><a href="javascript:showNotice('noticeParent');"><img src="./images/notice.gif" border="0" title="菜单位置"></a>菜单位置:</td>
<td><select name="parentid" id="parentid">
<option value="0" {if $menuparentid==0}selected="selected"{/if}>根目录</option>
{foreach from=$adminmenus.0 item=admin key=top}
<option value="{$top}" style="color:green;" {if $menuparentid==$top}selected="selected"{/if}>&nbsp;&nbsp;++{$admin}</option>
{foreach from=$adminmenus.$top item=child key=v}
<option value="{$v}" style="color:red;" {if $menuparentid==$v}selected="selected"{/if}>&nbsp;&nbsp;&nbsp;&nbsp;>>{$child}</option>
{/foreach}
{/foreach}

</select><span id="noticeParent" style="display:none;">请指定增加菜单位置,如果为一级菜单，请选择根目录。</span></td>
</tr>
{/if}
<tr>
<td class="narrow-label"><a href="javascript:showNotice('noticeMenuname');"><img src="./images/notice.gif" border="0" title="菜单名称"></a>菜单名称:</td>
<td><input type="text" name="menuname" id="menuname" value="{$adminmenu.title|escape:html}"><span id="noticeMenuname" style="display:none;">请输入增加菜单的名称，菜单名称格式为:中文字符或者为()。</span></td>
</tr>
<tr>
<td class="narrow-label"><a href="javascript:showNotice('noticeMenudescription');"><img src="./images/notice.gif" border="0" title="菜单描述"></a>菜单描述:</td>
<td><input type="text" name="description" id="description" value="{$adminmenu.description|escape:html}"><span id="noticeMenudescription" style="display:none;">请输入菜单的描述,该描述介绍该菜单的功能。</span></td>
</tr>
<tr>
<td class="narrow-label"><a href="javascript:showNotice('noticeMenucontroller');"><img src="./images/notice.gif" border="0" title="控制器描述"></a>控制器名称:</td>
<td><input type="text" name="controllername" id="controllername" value="{$adminmenu.controller|escape:html}"><span id="noticeMenucontroller" style="display:none;">请输入控制器的名称:全英文小写构成。</span></td>

</tr>
<tr>
<td class="narrow-label"><a href="javascript:showNotice('noticeMenuactioner');"><img src="./images/notice.gif" border="0" title="行为器描述"></a>行为器名称:</td>
<td><input type="text" name="actionname" id="actionname" value="{$adminmenu.actioner|escape:html}"><span id="noticeMenuactioner" style="display:none;">请输入行为器的名称:全英文小写构成,如果为一级菜单，请留空。</span></td>
</tr>
<tr>
<td class="narrow-label"><a href="javascript:showNotice('noticeMenushow');"><img src="./images/notice.gif" border="0" title="表现形式"></a>表现形式:</td>
<td><label for="ismenu"><input type="checkbox" id="ismenu" name="ismenu" value="1" {if $adminmenu.ismenu}checked="checked"{/if}>表现为菜单</label><label for="islink">
<input type="checkbox" id="islink" name="islink" value="1" {if $adminmenu.islink}checked="checked"{/if}>表现为链接</label>
<span id="noticeMenushow" style="display:none;">请选择菜单的表现形式,当一二级菜单表现为菜单时候，将在管理菜单左面显示。</span></td>
</tr>
<tr>
<td class="narrow-label"><a href="javascript:showNotice('noticeMenusort');"><img src="./images/notice.gif" border="0" title="菜单排序"></a>菜单排序:</td>
<td><input type="text" name="sort" value="{$adminmenu.sort|default:0}" id="sort"><span id="noticeMenusort" style="display:none;">请输入菜单的排序大小值,菜单排序值越小，越靠前。</span></td>
</tr>
{if $action==update}
<tr>
<td class="narrow-label">开启日志:</td>
<td><label for="actionlog"><input type="checkbox" name="actionlog" id="actionlog" value="1" {if $adminmenu.actionlog}checked="checked"{/if}>开启</label></td>
</tr>
{/if}
<tr>
<td class="narrow-label">&nbsp;</td>
<td align="left"><input type="hidden" name="menuid" value="{$adminmenu.menuid|default:0}"><input type="submit" value="保存菜单" class="button"><input type="reset" value="重新设置" class="button"><input type="button" value="返回列表" onclick="location.href='?controller=developer&action=list';" class="button"></td>
</tr>
</table>
</form>
</div>
<script>
function showNotice(objId)
{
	var obj = document.getElementById(objId);
	if(obj.style.display=="none")
	{
		obj.style.display="block";
	}
	else
	{
		obj.style.display="none";	
	}
}
function checkEdit()
{
	p = /^[\u0391-\uFFE5\s\(\)\w]+$/;
	if(!p.test(document.getElementById('menuname').value))
	{
		alert("菜单名称格式不正确。");
		document.getElementById('menuname').focus();
		return false;
	}
	if(document.getElementById('description').value=="")
	{
		alert("请输入菜单描述。");
		document.getElementById('description').focus();
		return false;
	}
	p = /^[a-z0-9A-Z]+$/;
	if(!p.test(document.getElementById('controllername').value))
	{
		alert("菜单控制器格式不正确。");
		document.getElementById('controllername').focus();
		return false;
	}
	if(document.getElementById('parentid').value>0)
	if(!p.test(document.getElementById('actionname').value))
	{
		alert("菜单行为器格式不正确。");
		document.getElementById('actionname').focus();
		return false;
	}
	p=/^[0-9]+$/;
	if(!p.test(document.getElementById('sort').value))
	{
		alert("菜单排序格式不正确。");
		document.getElementById('sort').focus();
		return false;
	}
	return true; 	
}
</script>

{include file="pagefooter.html"}