{include file="pageheader.html"}
<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/calendar/jquery.dyndatetime.js"></script>
<script type="text/javascript" src="./js/calendar/lang/calendar-utf8.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="./js/calendar/css/calendar-blue2.css"  />

<script>
$(document).ready(function(){
	$("#type_1").click(function(){
		$("#show_1").show();
		$("#show_2").hide();
	});
	$("#type_2").click(function(){
		$("#show_2").show();
		$("#show_1").hide();
	});
	$("#type_3").click(function(){
		$("#show_2").hide();
		$("#show_1").hide();	
	});
	$("#lottery").change(function(){
		var data_issue = {$data_issue};
		$("#issuelist").html("");
		if($("#lottery").val()>0)
		{
			shtml ="<select name='issue' id='issue'><option value='0'>游戏奖期选择</option>";
			$.each(data_issue[$("#lottery").val()],function(i,v){
				shtml = shtml + "<option value='"+v.issue+"'>"+v.issue+"("+v.endtime+")</option>";
			});	
			shtml = shtml + "</select>";
		}
		else
		{
			shtml = "<select name='issue' id='issue'><option value='0'>游戏奖期选择</option></select>";
		}
		$("#issuelist").html(shtml);
	});
	jQuery("#starttime").dynDateTime({
		ifFormat: "%Y-%m-%d %H:%M:00",
		daFormat: "%l;%M %p, %e %m,  %Y",
		align: "Br",
		electric: true,
		singleClick: false,
		button: ".next()", //next sibling
		showOthers: true,
		weekNumbers: true,
		showsTime: true
	});
	jQuery("#starttime").change(function(){
		if(! validateInputDate(jQuery("#starttime").val()) )
		{jQuery("#starttime").val('');alert("时间格式不正确,正确的格式为:2009-06-10 10:59");}
	});
});
</script>
<div class="list-div">
<form method="POST" action="{$action}">
<table>
<tr>
<td class="narrow-label"><strong>注意：</strong></td>
<td><span style="color:#FF0000;">从所选择奖期录入号码开始，<b style='color:#690'>{$issueexceptiontime}</b> 分钟后将不允许再进行撤消派奖处理
<br/>提前开奖的处理流程涉及 <font color=#669900>"系统撤单"</font> 功能. 时间范围仅限于系统参数值: <b style='color:#690'>{$issueexceptionrepeal}</b></span></td>
</tr>
<tr>
<td class="narrow-label">游戏名称</td>
<td><select name="lottery" id="lottery">
<option value="0">所有彩种</option>
{foreach from=$aLottery item=lottery key=k}
<option value="{$lottery.lotteryid}">{$lottery.cnname}</option>
{/foreach}
</select></td>
</tr>
<tr>
<td class="narrow-label">游戏奖期</td>
<td><span id="issuelist">
<select name='issue'>
<option value="0">游戏奖期选择</option>
</select></span></td>
</tr>

<tr>
<td class="narrow-label">处理原因</td>
<td>
<label for="type_1"><input type="radio" value="1" name="type" id="type_1">提前开奖</label>&nbsp;&nbsp;&nbsp;&nbsp;
<label for="type_2"><input type="radio" value="2" name="type" id="type_2">开奖号码错误</label>&nbsp;&nbsp;&nbsp;&nbsp;
<!--
<label for="type_3"><input type="radio" value="3" name="type" id="type_3">CLI异常,没有处理完毕</label>
//-->
</td>
</tr>
<tr id="show_1" style="display:none;">
<td class="narrow-label">官方实际开奖时间</td>
<td><input type='text' id="starttime" name="starttime"><img src="./images/calendar2.gif">
</td>
</tr>
<tr id="show_2" style="display:none;">
<td class="narrow-label">正确的开奖号码</td>
<td><input type="text" name="issueno" id="issueno" value="" style="">
</td>
</tr>
<tr>
<td></td>
<td><input type="submit" value="{$ur_here}" class="button"></td>
</tr>
</table>
</form>
</div>
{include file="pagefooter.html"}