{include file="pageheader.html"}
<div class="list-div" id="listDiv">
<table cellspacing='1' cellpadding='3' id='list-table'>
<tr>
 <th width="80">游戏</th>
 <th width="80">类型</th>
 <th width="60">周期</th>
 <th colspan="2" width="140">销售时间</th>
 <th width="70">撤单时间</th>
 <th width="70">录号时间</th>
 <th colspan="2" width="140">动态调价</th>
 <th width="60">状态</th>
 <th>操作</th>
</tr>
{foreach from=$aLottery item=lottery key=k}
<tr>
<td align="center">{$lottery.cnname|escape:html}</td>
<td align="center">{if $lottery.lotterytype==0}数字型{elseif $lottery.lotterytype==1}乐透同区{else}乐透分区{/if}</td>
<td align="center">{if $lottery.weekcycle==127}每天{else}非每天{/if}</td>
<td width="70" align="center">{$lottery.dailystart|escape:html}</td>
<td width="70" align="center">{$lottery.dailyend|escape:html}</td>
<td width="70" align="center">{$lottery.canceldeadline|escape:html}</td>
<td width="70" align="center">{$lottery.edittime|escape:html}</td>
<td width="70" align="center">{$lottery.dynamicprizestart|escape:html}</td>
<td width="70" align="center">{$lottery.dynamicprizeend|escape:html}</td>
<td align="center">{if ($lottery.count_status == $lottery.count_method) || ($lottery.count_method==0)}停止销售{else}销售中{/if}</td>
<td align="center"><a href="./?controller=gameinfo&action=edit&id={$lottery.lotteryid}">修改</a>
&nbsp;<a href="./?controller=gameinfo&action=lockslist&id={$lottery.lotteryid}">封锁</a>
&nbsp;<a href="./?controller=gameinfo&action=playlist&id={$lottery.lotteryid}">玩法组</a>
&nbsp;<a href="./?controller=gameinfo&action=prizegroup&id={$lottery.lotteryid}">奖金组</a>
&nbsp;<a href="./?controller=gameinfo&action=issuelist&id={$lottery.lotteryid}">奖期</a>
&nbsp;<a href="./?controller=gameinfo&action=pointset&id={$lottery.lotteryid}">点差</a>
&nbsp;<a href="./?controller=gameinfo&action=edittime&id={$lottery.lotteryid}">时间</a>
&nbsp;<a href="./?controller=gameinfo&action=sleepdate&id={$lottery.lotteryid}">休市</a>
{if ($lottery.count_status == $lottery.count_method) || ($lottery.count_method==0)}
&nbsp;<a href="./?controller=gameinfo&action=gamestart&id={$lottery.lotteryid}"  onclick="return confirm('您确认要开始销售\'{$lottery.cnname}\'?');">开售</a>
{else}
&nbsp;<a href="./?controller=gameinfo&action=gamestop&id={$lottery.lotteryid}" onclick="return confirm('您确认要停止销售\'{$lottery.cnname}\'?');">停售</a>
{/if}
</td>
</tr>
{foreachelse}
<tr>
<td class="no-records" colspan="11">没有相关记录,请先添加游戏信息。</td>
</tr>
{/foreach}
</table>
</div>
{include file="pagefooter.html"}