{include file="pageheader.html"}
<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/dialogUI/jquery.dialogUI.js"></script>
<LINK href="./js/dialogUI/dialogUI.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
jQuery.noConflict();
(function($){
	var updata 	 = [];	//上调数据堆栈[正向栈]
	var downdata = [];	//下调数据堆栈[反向栈]
	var downlimit= Math.floor({$lotterys.maxlost});
	var adjustminprofit = {$lotterys.adjustminprofit};
		
	$.fn.adjustUpAddLine = function(opts){//===============增加上调线
		var defaults = {
				money 	: 0,
				percent : 0
		};
		opts  	  = $.extend( {}, defaults, opts || {} );
		opts.money   = parseInt(opts.money,10);
		opts.percent = parseInt(opts.percent,10);
		var title = $(this).attr("name");
		title     = title.split("_");
		if( title.length != 2 ){//数据错误
			return false;
		}
		var atype = title[0];
		var id	  = Math.floor(Number(title[1]))+1;
		if( updata.length > id ){//如果是在中间插入则更新后面所有的
			for( i=updata.length; i>=id; i-- ){//从上往下更新
				$("input[name='percent_up_"+i+"']").attr("name","percent_up_"+(i+1));
				$("input[name='money_up_"+i+"']").attr("name","money_up_"+(i+1));
				$("a[name='up_"+i+"']").attr("name","up_"+(i+1));
				$("a[name='updel_"+i+"']").attr("name","updel_"+(i+1));
			}
			try{
				updata.splice(id,0,{money:opts.money,percent:opts.percent});
			}catch(e){
				alert("您的浏览器版本太低，请升级");
				return false;
			}
		}else{//最后插入的直接入栈
			updata.push({money:opts.money,percent:opts.percent});
		}
		var html = '<tr><td align="center">&nbsp;</td><td align="center"><span class="james_uppercent">'+opts.percent+' %</span></td><td align="center">&nbsp;</td><td align="center"><span class="james_desc">'+getUpExample(opts.percent)+'</span></td></tr>';
		html += '<tr><td class="james_line"><span class="james_word">'+moneyFormat(opts.money)+'</span></td><td class="james_line">&nbsp;</td><td class="james_line"><a href="javascript:" name="up_'+id+'"></a> <a href="javascript:" name="updel_'+id+'"></a></td><td class="james_line">&nbsp;</td></tr>';
		$html = $(html);
		$html.insertBefore($(this).closest("tr").prev("tr"));
	};
	/***********-=========-*******************/
	$.fn.adjustDownAddLine = function(opts){//================增加下调线
		var defaults = {
				money 	: 0,
				percent : 0
		};
		opts  	  = $.extend( {}, defaults, opts || {} );
		opts.money   = parseInt(opts.money,10);
		opts.percent = parseInt(opts.percent,10);
		var title = $(this).attr("name");
		title     = title.split("_");
		if( title.length != 2 ){//数据错误
			return false;
		}
		var atype = title[0];
		var id	  = Math.floor(Number(title[1]))+1;
		if( downdata.length > id ){//如果是在中间插入则更新后面所有的
			for( i=downdata.length; i>=id; i-- ){//从上往下更新
				$("input[name='percent_down_"+i+"']").attr("name","percent_down_"+(i+1));
				$("input[name='money_down_"+i+"']").attr("name","money_down_"+(i+1));
				$("a[name='down_"+i+"']").attr("name","down_"+(i+1));
				$("a[name='downdel_"+i+"']").attr("name","downdel_"+(i+1));
			}
			try{
				downdata.splice(id,0,{money:opts.money,percent:opts.percent});
			}catch(e){
				alert("您的浏览器版本太低，请升级");
				return false;
			}
		}else{//最后插入的直接入栈
			downdata.push({money:opts.money,percent:opts.percent});
		}
		var html = '<tr><td align="center">&nbsp;</td><td align="center"><span class="james_downpercent">'+opts.percent+' %</span></td><td align="center">&nbsp;</td><td align="center"><span class="james_desc">'+getDownExample(opts.percent).join(" ")+'</span></td></tr>';
		html += '<tr><td class="james_line"><span class="james_word">- '+moneyFormat(opts.money)+'</span></td><td class="james_line">&nbsp;</td><td class="james_line"><a href="javascript:" name="down_'+id+'"></a> <a href="javascript:" name="downdel_'+id+'"></a></td><td class="james_line">&nbsp;</td></tr>';
		$html = $(html);
		$html.insertBefore($(this).closest("tr").prev("tr"));
	};
	
	//百分比输入框输入过滤
	function filterPercent(str){
		str = str.replace(/[^\d]/g,"").substr(0,3);
		str = Number(str) > 100 ? 100 : Number(str);
		return str;
	}
	//金额逗号分隔格式化
	function moneyFormat(num){
		num = num.toString().replace(/[^\d]/g,"").substr(0,15);
		num = Number(num).toString();
		var newnum = [];
		for( i=num.length; i>0; i-=3 ){
			newnum.unshift(num.substring(i,i-3));
		}
		num = newnum.join(",");
		return num;
	}
	//获取金额实际数字
	function moneyNumber(num){
		return num ? Number(num.replace(/[^\d]/g,"")) : 0;
	}
	//换算上调价格比例
	function getUpExample(p){
		var result = 1700;
		return result+parseInt(p,10) * (2000 * (1 - adjustminprofit) - 1900) / 100;
	}
	function getDownExample(p){
		var result = [1700,570,280,6.6];
		p	       = parseInt(p,10);
		result[0]  = 1700 - (7*p);
		result[1]  = Math.round(570-(237*p/100));
		result[2]  = Math.round(280-(114*p/100));
		result[3]  = Math.round((6.6-(2.9*p/100))*10)/10;
		return result;
	}
	function createFirstLine(maxlost,upzero,downzero){//创建0线
		$("#tabloading").nextAll().remove();
		var html = "";
		html += '<tr><td align="center">&nbsp;</td><td align="center"><span class="james_uppercent">'+upzero+' %</span></td><td align="center">&nbsp;</td><td align="center"><span class="james_desc">'+getUpExample(upzero)+'</span></td></tr><tr><td class="james_line"><span class="james_word">0</span></td> <td class="james_line">&nbsp;</td><td class="james_line"><a href="javascript:" name="up_0"></a></td><td class="james_line">&nbsp;</td></tr>';
		html += '<tr><td align="center">&nbsp;</td><td align="center"><span class="james_downpercent">'+downzero+' %</span></td><td align="center">&nbsp;</td><td align="center"><span class="james_desc">'+getDownExample(downzero).join(" ")+'</span></td></tr><tr><td class="james_line"><span class="james_word">- '+moneyFormat(maxlost)+'</span></td><td class="james_line">&nbsp;</td><td class="james_line"><a href="javascript:" name="down_0"></a></td><td class="james_line">&nbsp;</td></tr>';
		$html = $(html)
		$html.appendTo("#detail-table");
		$("#maxlost").val(maxlost);
		updata 	 = [];
		downdata = [];
		downlimit= maxlost;
		updata.push({money:0,percent:upzero});
		downdata.push({money:maxlost,percent:downzero});
	}
	/*************************************/
	$(document).ready(function(){
		var zeroup 	 = parseInt({$adjust.zeroup},10);
		var zerodown = parseInt({$adjust.zerodown},10);
		createFirstLine( downlimit, zeroup, zerodown );
		//初始化上线
		{foreach from=$updatas item=updata key=k1 }
		$("a[name='up_"+(updata.length-1)+"']").adjustUpAddLine({money:{$updata.uplimit},percent:{$updata.percent}});
		{/foreach}
		{foreach from=$downdatas item=downdata key=k2 }
		$("a[name='down_0']").adjustDownAddLine({money:{$downdata.uplimit},percent:{$downdata.percent}});
		{/foreach}
	});
})(jQuery);
</script>
<style type="text/css">
.james_title{border:0; padding:0; background-color:#FFFFFF;}
.james_box{width:100%; background:#FFFFFF;}
.james_box th{
	line-height: 24px;
  background: #BBDDE5 url("../images/th_bg.gif") repeat-x;
  white-space: nowrap;
}
.james_box td{
	height:25px;
	line-height:25px;
	text-align:center;
	}
.james_line{background:url(./images/line.gif) repeat-x;}
.james_link{
	padding:0 5px 0 5px;
	background:#FFFFFF;
	}
.james_word{padding:0 5px 0 5px; background:#FFF; color:#333333;}
.james_inputmoney{width:100px; text-align:center; color:#993300;}
.james_uppercent{color:#FF0000; font-weight:bold;}
.james_downpercent{color:#009900; font-weight:bold;}
.james_desc{color:#999999; font-weight:bold;}
</style>
<div class="tab-div">
  <div id="tabbar-div">
  	<span class="tab-front" id="{$lotterys.lotteryid}">{$lotterys.cnname}</span>
  </div>

	{* 标签 : 基本信息 *}
  <div id="listDiv">
  	<div class="james_title">
    	<table cellspacing='0' cellpadding='0' width="100%">
        <tr>
        	<td height="50" style="padding-left:10px;"><strong>变价方案名称:</strong>&nbsp;&nbsp;&nbsp;{$adjust.title|escape:html}</td>
            <td align="center" width="100">&nbsp;</td>
        </tr>
        </table>
    </div>
  	<table cellspacing='0' cellpadding='2' id="detail-table" class="james_box" width="100%">
    	<tr>
            <th align="center" width="25%">浮动盈亏值</th>
            <th align="center">奖金变化百分比</th>
            <th align="center" width="3%">&nbsp;</th>
            <th align="center" width="25%">奖金示例</th>
        </tr>
        <tr id="tabloading" style="display:none;">
        	<td colspan="10" height="100" align="center" valign="middle">正在初始化......<br><img src="./images/loading.gif"></td>
        </tr>
        <tr>
        	<td align="center">&nbsp;</td>
            <td align="center">0%</td>
            <td align="center">&nbsp;</td>
            <td align="center"><span>1700</span></td>
        </tr>
        <tr>
        	<td class="james_line"><span class="james_word">0</span></td>
            <td class="james_line">&nbsp;</td>
            <td class="james_line">&nbsp;</td>
            <td class="james_line">&nbsp;</td>
        </tr>
        <tr>
        	<td align="center">&nbsp;</td>
            <td align="center">0%</td>
            <td align="center">&nbsp;</td>
            <td align="center"><span>1700 570 280 6.6</span></td>
        </tr>
        <tr>
        	<td class="james_line"><span class="james_word">-1,500,000</span></td>
            <td class="james_line">&nbsp;</td>
            <td class="james_line">&nbsp;</td>
            <td class="james_line">&nbsp;</td>
        </tr>
    </table>
  </div>
</div>
{include file="pagefooter.html"}