<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><title>低频后台用户管理中心</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<frameset cols="170, 10, *" framespacing="0" border="0" id="frame-body">
  <frame src="./index.php?controller=user&action=index&do=menu" id="menu-frame" name="menu-frame" frameborder="no" scrolling="yes">
  <frame src="./index.php?controller=user&action=index&do=drag" id="drag-user" name="drag-user" frameborder="no" scrolling="no">
  <frame src="./index.php?controller=user&action=userlist" id="user-main" name="user-main" frameborder="no" scrolling="yes">
</frameset>
</head><body></body></html>