<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>文档 {$systemversions}</title>
<link rel="stylesheet" href="{$sSystemImagesAndCssPath}/css/new/top.css" type="text/css" />
<script language="javascript" type="text/javascript" src="{$sSystemImagesAndCssPath}/js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="{$sSystemImagesAndCssPath}/js/new_passport/top_button/interface.js"></script>
<script language="javascript" type="text/javascript" src="{$sSystemImagesAndCssPath}/js/new_passport/top_button/top.js"></script>

</head>

<body>
<div id="red_header_01">
<div id="red_header_02">
<div class="dock" id="dock">
  <div class="dock-container">
  <a class="dock-item" href="../" target="_top" ><img src="{$sSystemImagesAndCssPath}/images/new_passport/botton_12.png" alt="home" /><span>银行</span></a>
  <a class="dock-item" href="../lowgame/" target="_top"><img src="{$sSystemImagesAndCssPath}/images/new_passport/botton_22.png" alt="contact" /><span>低频</span></a>
  <a class="dock-item" href="./?controller=security&action=tran" target="mainframe"><img src="{$sSystemImagesAndCssPath}/images/new_passport/botton_14.png" alt="portfolio" /><span>转帐</span></a>
  <a class="dock-item" href="./?controller=help&action=playinfo" target="mainframe"><img src="{$sSystemImagesAndCssPath}/images/new_passport/botton_15.png" alt="music" /><span>玩法介绍</span></a>
  <a class="dock-item" href="./?controller=help&action=answer" target="mainframe"><img src="{$sSystemImagesAndCssPath}/images/new_passport/botton_23.png" alt="video" /><span>常见问题</span></a>
  <a class="dock-item" href="javascript:window.top.frames['mainframe'].document.location.reload();"><img src="{$sSystemImagesAndCssPath}/images/new_passport/botton_21.png" alt="history" /><span>刷新页面</span></a>
  {* <a class="dock-item" href="./?controller=default&action=changestyle" target="mainframe" ><img src="{$sSystemImagesAndCssPath}/images/new_passport/botton_03.png" alt="calendar" / ><span >风格设置</span >< /a> *}
  <a class="dock-item" href="../?controller=default&action=logout" target="_top"><img src="{$sSystemImagesAndCssPath}/images/new_passport/botton_20.png" alt="rss" /><span>退出</span></a>
</div>
</div>
</div>
</div>
