<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>欢迎登陆窗口 {$systemversions}</title>
<style type="text/css">
body{font-size:12px; margin:0; padding:0;}
p{text-indent:2em; padding:0; margin:5px;}
</style>
</head>
<body>
<table cellpadding="0" cellspacing="0" width="80%" style="border:1px #FF0000 solid" align="center">
<form action="./?controller=default&action=declare" method="post">
<input type="hidden" name="flag" value="login" />
    <tr>
    	<td align="center" height="25" bgcolor="#FF3333"><strong>免责申明</strong></td>
    </tr>
    <tr>
    	<td align="left" height="40" style="padding:10px; padding-left:20px; padding-right:20px; line-height:22px;"><p>尊敬的客户： 
本公司是持有菲律宾共和国合法执照并且受其法律保障和约束的线上游戏平台运营商。为避免在游戏平台使用中的各种争议，请在开始使用本平台前，仔细阅读下述内容，并且确认符合所在国家或居住地的法律和规定，本公司将不承担由客户因违反当地相关法令所引起之任何责任。客户一经『同意』进入本平台进行交易时，即被视为已接受所有之规定</p><p>

本平台的营业时间为每天二十四小时。两周内没有进行交易的帐户，将被系统自动注销（余额被自动转移到上级帐户）。所有交易都必须在 “指定截止时间”内进行，若由于任何原因发生在“指定截止时间”以后的交易均视为无效交易。且客户之所有投诉必须在24小时内提出，本公司不接受任何逾期之投诉。 
本平台的开奖数据完全来源于独立且具有公信力之第三方公布的有效开奖结果。如发生因开奖机构引起的开奖异常，本公司将不承担任何责任。 
客户在交易之前有义务确认公司和本人的银行帐户。如因（a）客户向公司汇款时，汇入错误的帐户；（b）客户未将本人的银行帐户变更即时通知公司而引起的损失，公司不承担任何责任。 </p><p>
凡客户于交易途中，意外或强制断线时，发生交易单没有正确或完整上传，应立即查看『参与游戏信息』，并自行进行纠正处理，或者在 “指定截止时间”内通知客服人员， 超过“指定截止时间”本平台将不受理此申诉；客户在交易之后，请务必进行帐变检查，如对系统记录的余额有任何疑义，请务必在交易后48小时内通知本公司客服人员，逾期不予受理。</p><p> 
请广大客户有效利用系统自带的“追号”功能，按照预定倍数和资金情况，提前购买未来奖期。因平台系统设置有最大可购买倍数，该倍数受所有客户的投注（含追号）情况而动态变化。当购买（含追号）的号码超过系统设置的最大倍数后，则会发生投注（含追号）无法成功。如平台系统某个/些号码的最大倍数已满，而导致的无法成功投注（含追号），本公司将不承担所造成的任何损失。</p><p> 
本平台敬请广大客户在开户时，谨慎选择具有信誉、值得信任的代理商，且使用复杂的密码，并妥善保管您的帐户和密码。如果客户发现或怀疑自己的资料被盗用，请立即通知本公司客服人员或代理商，立即更改密码。如因客户自己保存不当所引起的密码泄露，本公司不承担任何责任。本公司若发现客户在游戏中，有作弊、诈骗、攻击、破坏本平台正常操作的行为或利用系统漏洞侵害公司和其他客户的权益，本公司保留暂停、冻结和终止客户继续使用本平台的所有权利，并有权没收所有不当获利。</p><p> 
倘若发生骇客入侵破坏行为、计算机病毒感染、ISP（互联网接入提供商）故障导致的无法访问、用户所在国政府的限制行为、自然灾害等第三方因素或不可抗力导致网站访问异常或资料损坏，资料丢失等情况，本平台不承担任何责任，但将尽力减少因此而给客户造成的损失和影响；客户有义务采取必要行动尽量配合减轻上述事件的后果。 </p><p>
本平台保留不时修订、更新和修改本条款和游戏规则的权力。任何修订、更新和修改将在网络平台上公布。经修订、更新或修改的条款和游戏规则，在公布时即生效。客户在上述修订、更新和修改公布后，继续使用本平台进行游戏时，则视为客户同意并接受本公司的修订、更新和修改。</p></td>
    </tr>
    <tr>
    	<td align="center" height="40" valign="top"><input type="submit" name="submit" value="同意" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="不同意" onclick="top.location.href='./?controller=default&action=logout'" /></td>
    </tr>
</form>
</table>
</body>
</html>
