<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD><TITLE>{if $sSysTopMessage}[{$sSysTopMessage}] {/if}{$webtitle} {if $ur_here} - {$ur_here} {/if} {$systemversions}</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<META http-equiv="Pragma" content="no-cache" />
{if $sSysMetaMessage}{$sSysMetaMessage}{/if}
<link rel="stylesheet" href="{$sSystemImagesAndCssPath}/css/new/right_blue.css" type="text/css" />
<script language="javascript" type="text/javascript" src="{$sSystemImagesAndCssPath}/js/new_passport/jquery.js"></script>
<script language="javascript" type="text/javascript" src="{$sSystemImagesAndCssPath}/js/new_passport/common.js"></script>
<script language="javascript" type="text/javascript" src="{$sSystemImagesAndCssPath}/js/new_passport/alert/jquery.dragndrop.js"></script>
<script language="javascript" type="text/javascript" src="{$sSystemImagesAndCssPath}/js/new_passport/alert/jquery.dialogUI.source.js"></script>
<script language="javascript" type="text/javascript" src="{$sSystemImagesAndCssPath}/js/new_passport/alert/jquery.jamesdragn.js"></script>
<link rel="stylesheet" href="{$sSystemImagesAndCssPath}/js/new_passport/alert/dialogUI.css" type="text/css" />

</HEAD><BODY>
<center>
{if empty($sys_header_title)}


{if $actionlink}
<SPAN><A href="{$actionlink.href}">{$actionlink.text|escape:html}</a></SPAN>
{/if}

{if $actionlink2}
<SPAN><A href="{$actionlink2.href}">{$actionlink2.text|escape:html}</a></SPAN>
{/if}

{if $actionlink3}
<SPAN >
<A href="{$actionlink3.href}">{$actionlink3.text|escape:html}</a>
</SPAN>
{/if}

<div id="right_01">

&nbsp;&nbsp;你所在的位置: &nbsp;&nbsp;<a href="./index.php" target='_top'>银行大厅</a>
{if $ur_here}&gt;&gt;{$ur_here} {/if}
</div>
{/if}