{include file="pageheader.html"}
<script type="text/javascript">
function checkform(obj)
{
	if( obj.sentto.value == "" )
	{
		$.alert("请选择要转入的帐号");
		obj.sentto.focus();
		return false;
	}
	if( obj.money.value == "" )
	{
		$.alert("请输入要转出的金额");
		obj.money.focus();
		return false;
	}
	return true;
}
</script>

<form action="index.php" method="post" onsubmit="return checkform(this)">
<input type="hidden" name="controller" value="security" />
<input type="hidden" name="action"	value="sentunite" />
<input type="hidden" name="flag" value="insert" />
<input type="hidden" name="check" value="{$check}" />
<div class="right_02 d5d8de" style="width:98%;">

<div class="height5">
<div class="right_02_28"></div>
<div class="right_02_29"></div>
</div>
<div><table width="100%" border="0" cellspacing="1" cellpadding="4">
    
    <tr>
      <td width="200" align="right" bgcolor="#CCCCCC">转出帐号：</td>
      <td align="left" bgcolor="#CCCCCC">{$user.username|escape:html}</td>
    </tr>
    <tr>  
      <td align="right" bgcolor="#CCCCCC">转入帐号：</td>
      <td align="left" bgcolor="#CCCCCC">
      <select name="sentto">
        {foreach from=$unites item=unite key=uk}
        <option value="{$unite.userid}">{$unite.username|escape:html}</option>
        {/foreach}
        </select>
      </td>

    </tr>
    <tr>
      <td align="right" bgcolor="#CCCCCC">转出金额：</td>
      <td align="left" bgcolor="#CCCCCC">
      <input type="text" name="money" size="20" onkeyup="checkWithdraw(this,'chineseMoney',{$user.availablebalance});" />
        可转金额（<span style="color:#FF0000;"><strong>{$user.availablebalance|escape:money}</strong></span>）</td>
    </tr>
    <tr>  
      <td align="right" bgcolor="#CCCCCC">转出金额(大写)：</td>
      <td align="left" bgcolor="#CCCCCC"><span id="chineseMoney"></span></td>

    </tr>
    <tr>
    	<td align="right"></td>
    	<td align="left"><input type="submit"  class="buttonnormal" name="submit" value="下一步"  /></td>
    </tr>
  </table></div>
<div style="height:5px;">
<div class="right_02_24"></div>
<div class="right_02_25"></div>
</div>

</div>
</form>
{include file="pagefooter.html"}