{include file="pageheader.html"}
<div class="list-div" id="listDiv">
<table width="100%" cellpadding="4" cellspacing="1" class="list-table">
  <tr>
  	<td width="200" align="right" bgcolor="#CCCCCC" class="narrow-label">别名:</td>
    <td bgcolor="#CCCCCC">{$nickname}</td>
  </tr>
  <tr>
  	<td align="right" bgcolor="#CCCCCC" class="narrow-label">用户名:</td>
    <td bgcolor="#CCCCCC">{$username}</td>
  </tr>
  <tr>
  	<td align="right" bgcolor="#CCCCCC" class="narrow-label">绑定银行:</td>
    <td bgcolor="#CCCCCC">{$bank}</td>
  </tr>
  <tr>
	<td align="right" bgcolor="#CCCCCC" class="narrow-label">开户银行省份：</td>
	<td bgcolor="#CCCCCC">{$province}</td>
   </tr>
   <tr>
	<td align="right" bgcolor="#CCCCCC" class="narrow-label">开户银行城市：</td>
	<td bgcolor="#CCCCCC">{$city}</td>
   </tr>
   <tr>
  	<td align="right" bgcolor="#CCCCCC" class="narrow-label">支行名称:</td>
    <td bgcolor="#CCCCCC">{$branch}</td>
  </tr>
  <tr>
  	<td align="right" bgcolor="#CCCCCC" class="narrow-label">开户人姓名:</td>
    <td bgcolor="#CCCCCC">{$account_name}</td>
  </tr>
  <tr>
  	<td align="right" bgcolor="#CCCCCC" class="narrow-label">银行账号:</td>
    <td bgcolor="#CCCCCC">{$account}</td>
  </tr>
  <tr>
  	<td align="right" bgcolor="#CCCCCC" class="narrow-label">状态:</td>
    <td bgcolor="#CCCCCC">{if $status == 1}<font color="#669900">启用</font>{else}<font color="#FF3300">禁用</font>{/if}</td>
  </tr>
  <tr>
  	<td align="right" bgcolor="#CCCCCC" class="narrow-label">添加时间:</td>
    <td bgcolor="#CCCCCC">{$atime}</td>
  </tr>
  <tr><td></td><td><input type="button" value="返回" onclick="history.back();"  class="buttonnormal" /></td></tr>
</table>
</div>
{include file="pagefooter.html"}