{include file="pageheader.html"}
<script type="text/javascript">
function checkform(obj)
{
  if( !validateUserName(obj.username.value) )
  {
     $.alert("登陆帐户名不符合规则，请重新输入");
	 obj.username.focus();
	 return false;
  }
  if( !validateUserPss(obj.userpass.value) )
  {
  	$.alert("密码不符合规则，请重新输入");
	obj.userpass.focus();
	return false;
  }
  if( !validateNickName(obj.nickname.value) )
  {
  	$.alert("昵称不符合规则，请重新输入");
	obj.nickname.focus();
	return false;
  }
  obj.submit.disabled=true;
  return true;
}
</script>

<form action="index.php" method="post" name="updateform" onsubmit="return checkform(this)">
<input type="hidden" name="flag" value="insert" />
<input type="hidden" name="controller" value="user" />
<input type="hidden" name="action"	value="adduser" />
<div class="right_02 d5d8de" style="width:98%;">
<div class="height5">
<div class="right_02_28"></div>
<div class="right_02_29"></div>
</div>
<div><table width="100%" border="0" cellspacing="1" cellpadding="4">
    

    <tr>
      <td align="right" width="200" bgcolor="#CCCCCC">用户级别：</td>
      <td align="left" bgcolor="#CCCCCC">
      	<input type="radio" name="usertype" value="1" checked="checked" />代理用户&nbsp;&nbsp;&nbsp;
        <input type="radio" name="usertype" value="0" />会员用户</td>
      </tr>
    <tr>
      <td align="right" bgcolor="#CCCCCC">登录帐号：</td>
      <td align="left" bgcolor="#CCCCCC"><input type="text" name="username" />(由0-9,a-z,A-Z组成的6-16个字符)</td>

    </tr>
    <tr>
      <td align="right" bgcolor="#CCCCCC">登录密码：</td>
      <td align="left" bgcolor="#CCCCCC"><input type="password" name="userpass" />(由字母和数字组成6-16个字符；且必须包含数字和字母，不允许连续三位相同)</td>
     </tr>
    <tr>
      <td align="right" bgcolor="#CCCCCC">用户昵称：</td>
      <td align="left" bgcolor="#CCCCCC"><input type="text" name="nickname" />(由2至6个字符组成)</td>

    </tr>
    <tr>
    <td align="center"></td>
      <td><input type="submit"  class="buttonnormal" name="submit" value="提交"  /></td>
      </tr>
  </table></div>
<div style="height:5px;">
<div class="right_02_24"></div>
<div class="right_02_25"></div>
</div>
</div>
</form>
{include file="pagefooter.html"}