{include file="pageheader.html"}
<form action="index.php" method="post" name="updateform">
<input type="hidden" name="flag" value="update" />
<input type="hidden" name="controller" value="useradmin" />
<input type="hidden" name="action"	value="admingroup" />
<input type="hidden" name="uid"	value="{$data.userid}" />
<div class="right_02 d5d8de" style="width:98%;">
<div class="height5">
<div class="right_02_28"></div>
<div class="right_02_29"></div>
</div>
<div><table width="100%" border="0" cellspacing="1" cellpadding="4">
   <tr>
  	<td align="right" bgcolor="#CCCCCC">组别:</td>
    <td align="left" bgcolor="#CCCCCC"><select name="groupid">
            {foreach from=$groups item=group key=k}
            {if $group.isspecial==0}<option value="{$group.groupid}" style="color:#333333" {if $group.groupid == $data.groupid }selected="selected"{/if}>{$group.groupname|escape:html}[系统默认]
            {elseif $group.issales==1}<option value="{$group.groupid}" style="color:#FF0000" {if $group.groupid == $data.groupid }selected="selected"{/if}>{$group.groupname|escape:html}[指定销售]
            {else}<option value="{$group.groupid}" {if $group.groupid == $data.groupid }selected="selected"{/if}>{$group.groupname|escape:html}{/if}
            </option>
            {/foreach}
            </select>  </td>
  </tr>
  <tr>
  	<td align="right" bgcolor="#CCCCCC">帐户:</td>
    <td align="left" bgcolor="#CCCCCC">{$data.username|escape:html}</td>
  </tr>
  <tr>
  	<td align="right" bgcolor="#CCCCCC">昵称:</td>
    <td align="left" bgcolor="#CCCCCC">{$data.nickname|escape:html}</td>
  </tr>
  <tr>
  <td align="right" bgcolor="#CCCCCC"></td>
  <td align="left" bgcolor="#CCCCCC"><input type="submit" name="submit"  class="buttonnormal" value="提交"  />&nbsp;&nbsp;<input type="button" value="返回列表" onclick="window.location='index.php?controller=useradmin&action=adminlist'" class="buttonnormal"  /></td>
  </tr>
  
  </table></div>
<div style="height:5px;">
<div class="right_02_24"></div>
<div class="right_02_25"></div>
</div>
</div>
</form>
{include file="pagefooter.html"}
