{include file="pageheader.html"}
<div class="list-div" id="listDiv">
<table cellspacing='0' cellpadding='0' id='list-table'>
    <tr>
    	<th align="center" height="25"><strong>{$notice.subject|escape:html}</strong></th>
    </tr>
    <tr>
    	<td align="center" height="20" valign="top" style="color:#666666">时间：{$notice.sendtime}</td>
    </tr>
    <tr>
    	<td align="left" height="40" style="padding:20px; padding-top:0;">{$notice.content}</td>
    </tr>
    <tr>
    	<td align="center" height="40"><input type="button" value="返回" onclick="history.back(-1);" class="button" /></td>
    </tr>
</table>
</div>
{include file="pagefooter.html"}