<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>loading</title>
</head>
<body>
<div id="loadhtml" style="text-align:center; font-size:24px; width:100%; padding-top:100px;">正在载入数据，请等待......<span id="loadprocess"></span><br /><br /><img src="{$sSystemImagesAndCssPath}/highgame/images/default/loading.gif" width="300" /></div>
</body>
</html>
