{include file="pageheader.html"}

<div class="list-div" id="listDiv">
<form action="index.php" method="post" name="listform">
<input type="hidden" name="controller" value="useradmin" />
<input type="hidden" name="action" value="adminproxy" />
<input type="hidden" name="flag" value="update" />
<table cellspacing='1' cellpadding='3' id='list-table'>
<tr>
	<th>用户名</th>
	<th>销售管理员</th>
</tr>
{foreach from=$proxys item=proxy key=k}
<tr>
	<td align="center">{$proxy.username|escape:html}</td>
	<td align="center">{$proxy.adminname|escape:html}</td>
</tr>
{foreachelse}
<tr>
<td colspan="3">没有相关数据</td>
</tr>
{/foreach}
</table>
</form>
</div>
{include file="pagefooter.html"}