{include file="pageheader.html"}
<center>
<div class="right_021">
 <div id="right_02_01">
    <div class="right_02_02"></div>
    <div class="right_02_03" id="lt_big_label" style="width:96%;" >网站公告</div>
    <div class="right_02_04"></div>
</div>
{if empty($notice) }
<div class="notice">
<div class="notice01">暂无公告</div>
</div>
{else}
<div class="notice">
<div class="notice01" style="font-size:20px;font-weight:bold">{$notice.subject|escape:html}</div>
<div class="notice02">时间:{if $notice.checktime != 0}{$notice.checktime|truncate:0,16}{else}{$notice.sendtime|truncate:0,16}{/if}</div>
<div class="notice03"></div>
<div class="notice04" style="line-height:22px;">{$notice.content}</div>
</div>
{/if}
<div class="height51">
<div class="right_02_241"></div>
<div class="right_02_251"></div>
</div>
</div>
</center>
{include file="pagefooter.html"}
