body {
background-image:url(/highgame/images/default/background_03.jpg);
background-repeat:repeat-x;
background-position:center;
background-position:top;
background-color:#FFFFFF;}
a:visited {color: #505050;}
a:link { color: #505050;}
a:hover { color: #DB5733;}
a:active { color: #505050;}
#tabbar-div { background: #CD2903; padding-left: 10px; height: 21px; padding-top: 0px;}
#tabbar-div p { margin: 0px; padding-top:1px;}
.tab-front { background: #D94733; line-height: 20px; color:#FFF;
	padding: 4px 15px 4px 18px; border-right: 2px solid #791A02; cursor: hand;  cursor: pointer;}
.tab-back,.tab-hover { color: #F4FAFB; line-height: 20px; padding: 4px 15px 4px 18px; cursor: hand; cursor: pointer;}
.tab-hover { background: #2F9DB5; }
#top-div { padding: 3px 0 2px; background: #BBDDE5; margin: 5px; text-align: center; }
#main-div { 
    padding: 0px;
    margin: 0 auto;
	width: 140px;
}
#menu-list
{ 
    padding: 0;
    margin: 0;
}
#menu-list ul 
{ 
    padding: 0 4px;
    margin: 0;
    list-style-type: none;
    color: #CD2903;
    background: #ea1816;
}
#menu-list li
{
    padding-left: 16px;
    line-height: 16px;
    cursor: hand;
    cursor: pointer;
    color: #FFF;
}
#main-div a:visited, #menu-list a:link, #menu-list a:hover
{
  color: #fff;
  text-decoration: underline;
}
#menu-list a:active { color: #fff;}
.explode { background: url(/highgame/images/default/icon_03.jpg) no-repeat 0px 3px; font-weight: bold;}
.collapse { background: url(/highgame/images/default/icon_05.jpg) no-repeat 0px 3px; font-weight: bold;}
.menu-item { background: url(/highgame/images/default/icon_04.jpg) no-repeat 0px 3px; font-weight: normal;}
#help-title { font-size: 14px; color: #000080; margin: 5px 0; padding: 0px;}
#help-content { margin: 0; padding: 0;}
.tips { color: #CC0000;}
.link { color: #000099;}
.userinfo
{
	background: #FFFFFF; 
	padding-top: 0px;
	margin-top: 10px;
	border: 1px solid #ab7f7f;
}
.userinfo ul
{ 
    list-style:none; 
    padding:0px; 
    margin:0px; 
    width:100%;
}
.userinfo ul li
{
    line-height:24px;
    color:#111;
    padding-left:5px;
}
.userinfo ul li.firstli
{
    background:url(/highgame/images/default/background_left_01.jpg);
    height:24px;
    color:#FFB83D;
    padding-left:10px;
    padding-right:10px;
}