{include file="pageheader.html"}
<div class="form-div">
<form name="listForm" method="post" action="?controller=adminuser&action=changepass"  onsubmit="return validate()">
  <table cellspacing='1' cellpadding='3' id='list-table'>
    <tr>
      <td align="right">{$lang.old_pass}:</td>
      <td><input type="password" name="oldpass" id="oldpass"></td>
    </tr>
    <tr>
      <td  align="right">{$lang.new_pass}:</td>
      <td><input type="password" name="newpass" id="newpass">  (6－16位数字和字母，不能只是数字，或者只是字母，不能连续三位相同)</td>
    </tr>
    <tr>
      <td align="right">{$lang.newpass2}:</td>
      <td><input type="password" name="newpass2" id="newpass2"></td>
    </tr>
    <tr>
      <td colspan="2" align="left">
	  <br/><br/>&nbsp;
	  <input type="submit" name="changepass" id="changepass" value="{$lang.change_pass}" class='button'>
<br/></td>
    </tr>
  </table>
</form>
</div>

{insert_scripts files="./js/validator.js"}
{literal}
<script language="JavaScript">
<!--
  /**
   * 检查表单输入的内容
   */
	function validate()
	{
		var validator = new Validator('listForm');
		validator.required('oldpass', "旧密码不能为空!");
		validator.required('newpass', "新密码不能为空");
		validator.eqaul("newpass", "newpass2", "两次输入的新密码不一致");
		if( document.forms['listForm'].elements['oldpass'].value ==
			document.forms['listForm'].elements['newpass'].value )
		{
			validator.addErrorMsg('旧密码与新密码相同');
		}
		if( !validateUserPss( document.forms['listForm'].elements['newpass'].value) )
		{
			validator.addErrorMsg('密码不符合规则');
		}
		if( document.forms['listForm'].elements['newpass'].value.length < 6 )
		{
			validator.addErrorMsg('密码长度小于6位');
		}
		return validator.passed();  
    }
//密码验证(6－16位数字和字母，不能只是数字，或者只是字母，不能连续三位相同)
function validateUserPss( str )
{
	var patrn = /^[0-9a-zA-Z]{6,16}$/;
	if( !patrn.exec(str) )
	{
		return false;
	}
	patrn = /^\d+$/;
	if( patrn.exec(str) )
	{
		return false;
	}
	patrn = /^[a-zA-Z]+$/;
	if( patrn.exec(str) )
	{
		return false;
	}
	patrn = /(.)\1{2,}/;
	if( patrn.exec(str) )
	{
		return false;
	}
	return true;
}
//-->
</script>
{/literal}

{include file="pagefooter.html"}