{include file="pageheader.html"}
<script type="text/javascript" src="./js/jquery.js"></script>
{if $flag != update}
<script type="text/javascript" src="./js/calendar/jquery.dyndatetime.js"></script>
<script type="text/javascript" src="./js/calendar/lang/calendar-utf8.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="./js/calendar/css/calendar-blue2.css"  />
{literal}
<script type="text/javascript">
jQuery(document).ready(function() {
		jQuery("#reg_time").dynDateTime({
			ifFormat: "%Y-%m-%d",
			daFormat: "%l;%M %p, %e %m,  %Y",
			align: "Br",
			electric: true,
			singleClick: false,
			button: ".next()", //next sibling
			showOthers: true,
			weekNumbers: true,
			//onUpdate: function(){alert('1');}
			showsTime: true
		});
		jQuery("#reg_time").change(function(){
			if(! validateInputDate(jQuery("#reg_time").val()) )
			{jQuery("#reg_time").val('');alert("账户注册时间有误");}
		});
});
</script>
{/literal}
{/if}

{literal}
<script type="text/javascript">

function getEV(str){
	return document.getElementById(str).value;
}

function getEC(str){
	return document.getElementById(str).checked;
}

function getFocus(str){
	return document.getElementById(str).focus();
}

function returnOut(str,id){
    document.getElementById("rOut_"+id).innerHTML = '<font color=red> &nbsp; '+ str +'</font>';
}

function resetOut(id){
    document.getElementById("rOut_"+id).innerHTML = '';
}

function checkNumber( obj ){
	obj.value = formatFloat(obj.value);
}

function formatFloat( num ){
	num = num.replace(/^[^\d]/g,'');
	num = num.replace(/[^\d.]/g,'');
	num = num.replace(/\.{2,}/g,'.');
	num = num.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
	if( num.indexOf(".") != -1 ){
		var data = num.split('.');
		num = (data[0].substr(0,15))+'.'+(data[1].substr(0,2));
	}else{
		num = num.substr(0,15);
	}
	return num;
}

function checkMyForm(){
        //format define:
        var standAccName    = /[0-9a-zA-Z\@(-).]/;
        var standMail       = /\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/;
        var standBankAcc    = /[^0-9]/;
        var standIdent      =  /^[\u4e00-\u9fa5]+$/;
    
	var pos = '{$flag}';
	var accName = getEV('acc_name');
	var accIdent    = getEV('acc_ident');
	var accBankAcc  = getEV('acc_bankacc');
	var accMail	= getEV('acc_mail');
        if (pos != 'update'){
            var srcBalance  = getEV('srcbalance');
        }
        
        var bankname    = '{$sbankname}';
        var mailString  = bankname == 'ccb' ? '证件号' : 'Email地址';
        
        if (bankname == 'ccb' || (bankname == 'ccb' && pos == 'update')){
            var area     = getEV('area');
        }

        if ( accName == '' ){
            return [false,'财务识别名不能为空','acc_name'];
	}
        
        if ( standAccName.test(accName) == false || accName.indexOf(' ') >= 0 ){
            return [false, '财务识别名有误', 'acc_name'];
        }

        if (pos != 'update'){
	var regTime = getEV('reg_time');
		if ( regTime == '' ){
                    return [false,'账户注册时间不能为空','reg_time'];
                }
                if ( regTime.indexOf(' ') >= 0 ){
                    return [false,'账户注册时间有误','reg_time'];
                }
	}

	if ( accIdent == ''){
            return [false, '开户名不能为空','acc_ident'];
	}
        if ( standIdent.test(accIdent) == false || accIdent.length > 5 ){
            return [false, '开户名输入有误', 'acc_ident'];
        }
        
	if ( accBankAcc == '' ){
            return [false, '银行账号不能为空','acc_bankacc'];
	}
        if ( standBankAcc.test(accBankAcc) == true || ( accBankAcc.length != 16 && accBankAcc.length != 19 ) ){
            return [false, '银行账号输入有误', 'acc_bankacc'];
        }
	
	if ( accMail == '' ){
            return [false, mailString+'不能为空','acc_mail'];
	}
        if ( standMail.test(accMail) == false && bankname != 'ccb'){
            return [false, mailString+'输入格式有误','acc_mail'];
        }

        if (pos != 'update'){
            if ( srcBalance == '' ){
                return [false, '起初余额不能为空', 'srcbalance'];
            }
            if ( srcBalance < 0 ){
                return [false, '起初余额输入有误', 'srcbalance'];
            }
        }

        if ( bankname == 'ccb' || (bankname == 'ccb' && pos == 'update')){
            if (area == ""){
                return [false, '请选择所属地区','area'];
            }
        }

	return [true];
}
checkme = function() {
	
	bCheck = checkMyForm();	
	
	if (bCheck[0] == true) {
		document.getElementById("listForm").submit();
	}else{
		//getFocus(bCheck[2]);
                returnOut(bCheck[1], bCheck[2]);
	}
	
}

//'ads_payport_id','ads_payport_name','old_acc_name','acc_name','reg_time','acc_ident','acc_key','acc_bankacc','acc_mail','acc_currency','acc_receive_host','payport_attr_load','payport_attr_draw','payport_attr_drawlist','payport_attr_drawhand','payport_attr_ques'
</script>
{/literal}
<div class="list-div" id="listDiv">
<form method="POST" name="listForm" id="listForm" action="?controller=depositmgr&action={$action|default:save}">
<input type="hidden" name="flag" value="{$flag}">
<input type="hidden" name="id" value="{$PayAccountDetail.aid}">
  <table cellspacing='2' cellpadding='5' id='list-table'>
{if $flag == update}  
<tr>
	<td colspan="2"> Tips:  以下带<font color=red>*</font>项目直接影响代码运行流程,一旦启用请勿再更改</td>
</tr>
{else}
<tr>
	<td class="narrow-label" colspan="2"> <font color=red> 请点击<img src="./images/notice.gif" width="16" height="16" border="0">标记 查看各项资料填写说明</font></td>
</tr>
{/if}
<tr>
	<td class="narrow-label">受付银行名称:</td>
	<td>{$PayAccountDetail.payport_name}  (系统参数前缀:{$PayAccountDetail.sysparam_prefix}    别名:{$PayAccountDetail.payport_nickname})
	<input type="hidden" id="ads_payport_id" name="ads_payport_id" value="{$PayAccountDetail.payportid}">
	<input type="hidden" id="ads_payport_name" name="ads_payport_name" value="{$PayAccountDetail.payport_name}">
	<input type="hidden" id="old_acc_name" name="old_acc_name" value="{$PayAccountDetail.acc_name}">
	<input type="hidden" id="old_acc_ident" name="old_acc_ident" value="{$PayAccountDetail.acc_ident}">
	<input type="hidden" id="old_acc_mail" name="old_acc_mail" value="{$PayAccountDetail.acc_mail}">	
	</td>
</tr>
<tr>
	<td class="narrow-label"><a href="javascript:showNotice('noticeconfigname');" title="财务识别名称"><img src="./images/notice.gif" width="16" height="16" border="0"/></a>财务识别名称:<font color=red>*</font></td>
        <td><input id="acc_name" name="acc_name" size="30" value="{$PayAccountDetail.acc_name|escape:html}" maxlength=40 onClick="javascript:resetOut('acc_name')"> <span id="rOut_acc_name"></span>
            <br /><span id="noticeconfigname" style="display:{if $flag == update}none{else}block{/if};color:#AAAAAA;font-size:13px">只能使用英文数字以及@符号或组合描述 (最多40个字母)</span>
        </td>
</tr>
<tr>
	<td class="narrow-label">
	<a href="javascript:showNotice('noticeregtime');" title="账户注册时间"><img src="./images/notice.gif" width="16" height="16" border="0"/></a>账户注册时间:{if $flag != update} <font color=red>*</font>{/if}</td>
	<td>
	{if $flag != update} 
	<input type="text" id="reg_time" name="reg_time" size="14" value="{$PayAccountDetail.reg_time}" onClick="javascript:resetOut('reg_time')"> <sub><img src="./images/calendar2.gif" border="0" style="cursor:pointer"></sub>
        <span id="rOut_reg_time"></span>
	{else}
	{$PayAccountDetail.reg_time}
	{/if}
	<span id="noticeregtime" style="display:{if $flag == update}none{else}block{/if};color:#AAAAAA;font-size:13px">账户注册时间</span></td>
</tr>
<tr>
	<td class="narrow-label"><a href="javascript:showNotice('noticeident');" title="开户名"><img src="./images/notice.gif" width="16" height="16" border="0"/></a>
	开户名:
	<font color=red>*</font></td>
	<td><input id="acc_ident" name="acc_ident" size="40" value="{$PayAccountDetail.acc_ident|escape:html}" maxlength=40 onClick="javascript:resetOut('acc_ident')"><span id="rOut_acc_ident"></span>
            <br /><span id="noticeident" style="display:{if $flag == update}none{else}block{/if};color:#AAAAAA;font-size:13px">录入银行开户人姓名</span></td>
</tr>
<tr>
	<td class="narrow-label"><a href="javascript:showNotice('noticesiteid');" title="银行帐号"><img src="./images/notice.gif" width="16" height="16" border="0"/></a>
	银行帐号:
	<font color=red>*</font></td>
	<td><input id="acc_bankacc" name="acc_bankacc" size="40" value="{$PayAccountDetail.acc_bankacc|escape:html}" maxlength=60 onClick="javascript:resetOut('acc_bankacc')"><span id="rOut_acc_bankacc"></span>
            <br /><span id="noticesiteid" style="display:{if $flag == update}none{else}block{/if};color:#AAAAAA;font-size:13px">录入银行账户帐号(数字账户号,非其他代号)</span></td>
</tr>
<!-- 
<tr>
	<td class="narrow-label"><a href="javascript:showNotice('noticekey');" title="商家KEY"><img src="./images/notice.gif" width="16" height="16" border="0"/></a>
	<font color=red>*</font>{$sbankname}</td>
	<td><input id="acc_key" name="acc_key" size="60" value="{$PayAccountDetail.acc_key|escape:html}" maxlength=60><span id="noticekey" style="display:{if $flag == update}none{else}block{/if};color:#AAAAAA;font-size:13px">参考提示录入</span></td>
</tr>
 -->
<input id="acc_key" name="acc_key" type="hidden" value="{$sbankname}">

<tr>
	<td class="narrow-label"><a href="javascript:showNotice('noticemail');" title="EMAIL地址/证件号"><img src="./images/notice.gif" width="16" height="16" border="0"/></a>
	{if $sbankname == 'icbc'}
	Email地址
	{elseif $sbankname == 'ccb'}
	证件号
	{else}
	ACC MAIL
	{/if}:
	<font color=red>*</font></td>
	<td><input id="acc_mail" name="acc_mail" size="40" value="{$PayAccountDetail.acc_mail|escape:html}" maxlength=60 onClick="javascript:resetOut('acc_mail')"><span id="rOut_acc_mail"></span>
            <br /><span id="noticemail" style="display:{if $flag == update}none{else}block{/if};color:#AAAAAA;font-size:13px">(所属银行的其他识别代号)</span></td>
</tr>
{if $sbankname == 'ccb' || ($sbankname == 'ccb' && $flag == update)}
<tr>
	<td class="narrow-label"><a href="javascript:showNotice('noticarea');" title="所属地区"><img src="./images/notice.gif" width="16" height="16" border="0"/></a>
	所属地区:
	<font color=red>*</font></td>
	<td><select name="area" id="area" onClick="javascript:resetOut('area')">
            <option value="">请选择...</option>
			{foreach from=$area item=branch key=k}
				<option value="{$k}#{$branch}" {if $k == $PayAccountDetail.area && $branch == $PayAccountDetail.branch_id}selected{/if}>{$k}</option>
			{/foreach}
	</select><span id="rOut_area"></span><span id="noticarea" style="display:{if $flag == update}none{else}block{/if};color:#AAAAAA;font-size:13px">(所属地区)</span></td>
</tr>
{/if}
<!--
<tr>
	<td class="narrow-label"><a href="javascript:showNotice('noticecurrency');" title="货币单位"><img src="./images/notice.gif" width="16" height="16" border="0"/></a>货币单位:</td>
	<td><input id="acc_currency" name="acc_currency" size="5" value="{$PayAccountDetail.acc_currency|escape:html}" maxlength=3><span id="noticecurrency" style="display:{if $flag == update}none{else}block{/if};color:#AAAAAA;font-size:13px">默认货币单位,默认继承接口配置</span></td>
</tr>
-->
<input id="acc_currency" name="acc_currency" type="hidden" value="CNY">
{if $flag == save}
<tr>
	<td class="narrow-label"><a href="javascript:showNotice('noticesrcbalance');" title="起初余额"><img src="./images/notice.gif" width="16" height="16" border="0"/></a>起初余额:<font color=red>*</font></td>
	<td><input id="srcbalance" name="srcbalance" size="12" value="{$PayAccountDetail.srcbalance|escape:money}" maxlength=10 onKeyup="javascript:checkNumber(this)" onClick="javascript:resetOut('srcbalance')">元 <span id="rOut_srcbalance"></span>
            <br /><span id="noticesrcbalance" style="display:{if $flag == update}none{else}block{/if};color:#AAAAAA;font-size:13px">填写此账户起初余额,之后不可更改</span></td>
</tr>
{/if}
<input id="balance_limit" name="balance_limit" type="hidden" value="0">
<input id="valid_time" name="valid_time" type="hidden" value="0">

<!-- 
<tr>
	<td class="narrow-label"><a href="javascript:showNotice('noticebalancelimit');" title="流量限制值"><img src="./images/notice.gif" width="16" height="16" border="0"/></a>流量限制值:<font color=red>*</font></td>
	<td><input id="balance_limit" name="balance_limit" size="12" value="{$PayAccountDetail.balance_limit|escape:money}" maxlength=10>元<span id="noticebalancelimit" style="display:{if $flag == update}none{else}block{/if};color:#AAAAAA;font-size:13px">对此账户流量的限制值设置</span></td>
</tr>

<tr>
	<td class="narrow-label"><a href="javascript:showNotice('noticevalidtime');" title="账户有效时间"><img src="./images/notice.gif" width="16" height="16" border="0"/></a>账户有效时间:</td>
	<td>{if $PayAccountDetail.open_time != 0}从{$PayAccountDetail.open_time}起算{/if} <input name="valid_time" size="3" value="{$PayAccountDetail.valid_time}" maxlength=2>个月
	<span id="noticevalidtime" style="display:{if $flag == update}none{else}block{/if};color:#AAAAAA;font-size:13px">账户有效时间预设,从账户被设置给用户使用时起算</span></td>
</tr>
<tr>
	<td class="narrow-label"><a href="javascript:showNotice('noticereceive');" title="银行API网络参数"><img src="./images/notice.gif" width="16" height="16" border="0"/></a>API网络参数:</td>
	<td>
	回传接收域名:<input id="acc_receive_host" name="acc_receive_host" size="60" value="{$PayAccountDetail.acc_receive_host|escape:html}" maxlength=100><br>
	<span id="noticereceive" style="display:{if $flag == update}none{else}block{/if};color:#AAAAAA;font-size:13px">回传接收域名(若此项有值,则将覆盖支付接口的接收域名配置) 默认留空</span></td>
</tr>
-->
<tr>
	<td class="narrow-label">短信通知号码:</td>
	<td><input id="sms_number" name="sms_number" size="40" value="{$PayAccountDetail.sms_number|escape:html}" maxlength=20 onClick="javascript:resetOut('sms_number')"><span id="rOut_sms_number"></span>
            <br /><span id="noticeident" style="display:{if $flag == update}none{else}block{/if};color:#AAAAAA;font-size:13px">录入短信通知接收号码</span></td>
</tr>
{if $flag == update}
<tr>
	<td class="narrow-label">状态:</td>
	<td>{if $PayAccountDetail.isenable == 0 }<font color=red>未激活</font>{elseif $PayAccountDetail.isenable == 1}<font color=green>已激活</font>{elseif $PayAccountDetail.isenable == 9}<font color=blue>暂停中</font>{else}<font color=gray>已删除</font>{/if}</td>
</tr>
{else}
<tr>
	<td class="narrow-label">状态:</td>
	<td><span style="color:#AAAAAA;font-size:13px">新增的银行账户,默认为未激活状态</span></td>
</tr>
{/if}

<input id="payport_attr_load" name="payport_attr_load" type="hidden" value="1">
<!-- 
<tr>
	<td class="narrow-label" >
	< ! - -  功能预留,默认数据插入 - - >
	<input type="hidden" name="balance_limit" size="12" value="{$PayAccountDetail.balance_limit|escape:money}">
	<input type="hidden" name="valid_time" size="12" value="{$PayAccountDetail.valid_time|escape:money}">
	
	<a href="javascript:showNotice('noticeattr');" title="接口使用配属"><img src="./images/notice.gif" width="16" height="16" border="0"/></a>接口使用配属:</td>
	<td>
	<input type="checkbox" name="payport_attr_load" value="1" id="payport_attr_load" {if $PayAccountDetail.payport_attr_load == 1}Checked{/if}><label for="payport_attr_load">充值</label> 
	<input type="checkbox" name="payport_attr_draw" value="2" id="payport_attr_draw" {if $PayAccountDetail.payport_attr_draw == 2}Checked{/if}><label for="payport_attr_draw">提现</label>
	<input type="checkbox" name="payport_attr_drawlist" value="4" id="payport_attr_drawlist" {if $PayAccountDetail.payport_attr_drawlist == 4}Checked{/if}><label for="payport_attr_drawlist">批量提现</label>
	<input type="checkbox" name="payport_attr_drawhand" value="16" id="payport_attr_drawhand" {if $PayAccountDetail.payport_attr_drawhand == 16}Checked{/if}><label for="payport_attr_drawhand">人工提现</label>
	<input type="checkbox" name="payport_attr_ques" value="8" id="payport_attr_ques" {if $PayAccountDetail.payport_attr_ques == 8}Checked{/if}><label for="payport_attr_ques">查询(掉单处理)</label>
	<span id="noticeattr" style="display:{if $flag == update}none{else}block{/if};color:#AAAAAA;font-size:13px">选择此支付接口所提供功能中，可直接API调用的功能 (默认继承支付接口的配置)</span></td>
</tr>
-->

<tr>
	<td class="narrow-label">&nbsp;</td>
	<td><input type="button" class="button" value="保存配置" onClick="javascript:checkme();return false"><input type="reset" class="button" value="重新设置"><input type="button" class="button" value="返回列表" onclick="location.href='?controller=depositmgr&action=list';"></td>
</tr>
</table>
</form>
</div>
<script>
function showNotice(objId)
{
    var obj = document.getElementById(objId);

    if (obj)
    {
        if (obj.style.display != "block")
        {
            obj.style.display = "block";
        }
        else
        {
            obj.style.display = "none";
        }
    }
}

</script>

{include file="pagefooter.html"}