{include file="pageheader.html"}
<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/calendar/jquery.dyndatetime.js"></script>
<script type="text/javascript" src="./js/calendar/lang/calendar-utf8.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="./js/calendar/css/calendar-blue2.css"  />
<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery("#sdate").dynDateTime({
			ifFormat: "%Y-%m-%d %H:%M",
			daFormat: "%l;%M %p, %e %m,  %Y",
			align: "Br",
			electric: true,
			singleClick: false,
			button: ".next()", //next sibling
			showOthers: true,
			weekNumbers: true,
			//onUpdate: function(){alert('1');}
			showsTime: true
		});
		jQuery("#sdate").change(function(){
			if(!validateInputDate(jQuery("#sdate").val()))
			{
				jQuery("#sdate").val('{$s.sdate|escape:html}');
				alert("时间格式不正确,正确的格式为:2009-06-10 10:59");
			}
		});
		jQuery("#edate").dynDateTime({
			ifFormat: "%Y-%m-%d %H:%M",
			daFormat: "%l;%M %p, %e %m,  %Y",
			align: "Br",
			electric: true,
			singleClick: false,
			button: ".next()", //next sibling
			showOthers: true,
			weekNumbers: true,
			//onUpdate: function(){alert('1');}
			showsTime: true
		});
		jQuery("#edate").change(function(){
			if(!validateInputDate(jQuery("#edate").val()))
			{
				jQuery("#edate").val('{$s.edate|escape:html}');
				alert("时间格式不正确,正确的格式为:2009-06-10 10:59");
			}
		});
	});
</script>
<div class="form-div">
    <FORM name="searchForm" action="" METHOD='get'>
    <input type='hidden' name="controller" value="log"/>
    <input type='hidden' name="action" value="loadlogs"/>

<img src="./images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" /> 

充值单ID: <input type="text" name="payment_id" size='16' value='{$s.payment_id|escape:html}' />&nbsp;&nbsp;
支付平台字串: <input type="text" name="payment_id_str" size='16' value='{$s.payment_id_str|escape:html}' />&nbsp;&nbsp;<br />
开始时间: <input type="text" id="sdate" name="sdate" size='17' value='{$s.sdate|escape:html}' /> <img src="./images/calendar2.gif"> &nbsp;&nbsp;
截止时间: <input type="text"id="edate" name="edate"  size='17' value='{$s.edate|escape:html}' /> <img src="./images/calendar2.gif" />&nbsp;&nbsp;
<input style='margin-left:20px' type="submit" value=" 查询 " class="button" /> 

<a href="javascript:showNotice('noticeSearch');" title="帮助信息"><img src="./images/notice.gif" width="16" height="16" border="0" title="帮助信息"></a>&nbsp;&nbsp;


<span class="notice-span" style='line-height:18px;padding:8px 0px 2px 20px;color:#669900' 
id="noticeSearch">默认查询当天产生的日志, 可根据需要自行指定时间.<br/>
时间格式为:YYYY-MM-DD HH:ii,例:2009-06-10 10:59</span>

</FORM>
</div>
<div class="list-div" id="listDiv">
<form method="POST" name="listForm">
<table cellspacing='1' cellpadding='3' id='list-table'><tr>
	<th>编号</th>
	<th>充值支付单ID</th>
    <th>ID字串</th>
	<th>支付接口</th>
	<th>接口分账户</th>
	<th>日志内容</th>
	<th>日志时间</th>
</tr>
{foreach from=$aLogList item=info key=k}
<tr>
	<td align="center">{$info.id}</td>
	<td align="center">L{$info.payment_id}</td>
    <td align="center">{$info.payment_id_str}</td>
	<td align="center">{if $info.payment_type == 0}(API){else} {$info.payment_type} {/if}</td>
	<td align="center">{if $info.payment_acc_id == 0}(API){else} {$info.payment_acc_id} {/if}</td>
	<td>{$info.log_info|escape:html}</td>
	<td align="center">{$info.log_time}</td>
</tr>
{foreachelse}
    <tr><td class="no-records" colspan="10">无相关数据</td></tr>
{/foreach}
</table>
</form>
<table id="page-table" cellspacing="0"><tr><td align="right" nowrap="true">
<div style='padding-right:30px; padding-top:6px;'>{$pages}</div></td></tr></table>

</div>



<script language="JavaScript">
{literal}
function showNotice(objId)
{
    var obj = document.getElementById(objId);

    if (obj)
    {
        if (obj.style.display != "block")
        {
            obj.style.display = "block";
        }
        else
        {
            obj.style.display = "none";
        }
    }
}
if (document.getElementById("listDiv"))
{
  document.getElementById("listDiv").onmouseover = function(e)
  {
    obj = Utils.srcElement(e);

    if (obj)
    {
      if (obj.parentNode.tagName.toLowerCase() == "tr") row = obj.parentNode;
      else if (obj.parentNode.parentNode.tagName.toLowerCase() == "tr") row = obj.parentNode.parentNode;
      else return;

      for (i = 0; i < row.cells.length; i++)
      {
        if (row.cells[i].tagName != "TH") row.cells[i].style.backgroundColor = '#EEF8F9';
      }
    }

  }

  document.getElementById("listDiv").onmouseout = function(e)
  {
    obj = Utils.srcElement(e);

    if (obj)
    {
      if (obj.parentNode.tagName.toLowerCase() == "tr") row = obj.parentNode;
      else if (obj.parentNode.parentNode.tagName.toLowerCase() == "tr") row = obj.parentNode.parentNode;
      else return;

      for (i = 0; i < row.cells.length; i++)
      {
          if (row.cells[i].tagName != "TH") row.cells[i].style.backgroundColor = '#FFF';
      }
    }
  }
}

{/literal}
</script>
{include file="pagefooter.html"}