{include file="pageheader.html"}
{literal}
<script type="text/javascript">
function errOut(str,id){
    document.getElementById('err_'+id).innerHTML = '<font color=red> &nbsp; ' + str + '</font>';
}
function resetOut(id){
    document.getElementById("err_"+id).innerHTML = '';
}
function checkNumber( obj ){
	obj.value = formatFloat(obj.value);
}
function formatFloat( num ){
	num = num.replace(/^[^\d]/g,'');
	num = num.replace(/[^\d.]/g,'');
	num = num.replace(/\.{2,}/g,'.');
	num = num.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
	if( num.indexOf(".") != -1 ){
		var data = num.split('.');
		num = (data[0].substr(0,15))+'.'+(data[1].substr(0,2));
	}else{
		num = num.substr(0,15);
	}
	return num;
}

function check(){
    var finance_name = document.getElementById("finance_name");
	if (finance_name.value == '' ){
            errOut("财务识别名不能为空",'finance_name');
            return false;
	}
        if (finance_name.value.indexOf(' ') >= 0){
            errOut("财务识别名输入有误",'finance_name');
            return false;
        }

	var card_num = document.getElementById("card_num");
	if (card_num.value == ''){
		errOut("网银账号不能为空",'card_num');
		return false;
	}
        if ( card_num.value.indexOf(' ') >= 0 || ( card_num.value.length != 16 && card_num.value.length != 19 ) ) {
            errOut("网银账号输入有误",'card_num');
            return false;
        }
    var passwd = document.getElementById("passwd");
	if (passwd.value == ''){
            errOut("登录密码不能为空",'passwd');
            return false;
	}
        if ( passwd.value.length < 6 || passwd.value.indexOf(' ') >= 0 ) {
            errOut("登录密码输入有误",'passwd');
            return false;
        }
    var repasswd = document.getElementById("repasswd");
        if(repasswd.value == ''){
            errOut("确认密码不能为空",'repasswd');
            return false;
        }
        if ( passwd.value != repasswd.value ){
            errOut("确认密码与登录密码输入不一致",'repasswd');
            return false;
        }
    var amount = document.getElementById("init_amount");
    var standAmount = /^[1-9]d*.d*|0.d*[1-9]d*$/;
	if ( amount.value == '' ){
            errOut("起初余额不能为空",'init_amount');
            return false;
	}
        if (amount.value < 0 && standAmount.test(amount.value) == false ){
            errOut("起初余额输入有误",'init_amount');
            return false;
	}
	var names = document.getElementById("names");
        var standArea = standName = /^[\u4e00-\u9fa5]+$/;
	if (names.value == ''){
            errOut("账户名不能为空",'names');
            return false;
	}
        if ( standName.test(names.value) == false || names.value.indexOf(' ') >= 0 ) {
            errOut("账户名输入有误",'names');
            return false;
	}

	var areas = document.getElementById("areas");
        
	if (areas.value == ''){
            errOut("所在省份不能为空",'areas');
            return false;
	}
        if ( standArea.test(areas.value) == false || areas.value.indexOf(' ') >= 0 ) {
            errOut("所在省份输入有误",'areas');
            return false;
	}
	var status = document.getElementById("status").value;
	if (status == -1){
            return confirm("您如果不选择状态，默认为启用，是否继续？");
	}
        
}
</script>
{/literal}
<div class="list-div" id="listDiv">
    <!-- enctype="multipart/form-data" -->
<form method="POST"  name="listForm" id="listForm" onsubmit="return check();" >
<input type="hidden" name="controller" value="netbankmanage" />
<input type="hidden" name="action" value="savebankinfo" />
<table cellspacing='1' cellpadding='3' id='list-table'>
    <tr>
    <td align="right" width="30%">财务识别名：</td>
    <td>
        <input type="text" name="finance_name" id="finance_name" onClick="javascript:resetOut('finance_name')"><span id="err_finance_name"></span>
    </td>
  </tr>
  <tr>
    <td align="right">所属银行：</td>
    <td><select name="bank_id">
        {foreach from=$allBanks item=item key=k}
        <option value="{$item.bank_id}">{$item.bank_name}</option>
        {/foreach}
        </select>
    </td>
  </tr>
  <tr>
    <td align="right">网银帐号：</td>
    <td>
    <input type="text" name="card_num" id="card_num" size="19" maxlength="19" onClick="javascript:resetOut('card_num')"><span id="err_card_num"></span>
    </td>
  </tr>
  <tr>
    <td align="right">登录密码：</td>
    <td>
        <input type="password" name="passwd" id="passwd" onClick="javascript:resetOut('passwd')"><span id="err_passwd"></span>
    </td>
  </tr>
  <tr>
    <td align="right">确认密码：</td>
    <td>
        <input type="password" name="repasswd" id="repasswd" onClick="javascript:resetOut('repasswd')" ><span id="err_repasswd"></span>
    </td>
  </tr>
  <tr>
    <td align="right">起初余额：</td>
    <td><input type="text" name="init_amount" id="init_amount" onClick="javascript:resetOut('init_amount');" onKeyup="checkNumber(this);" maxlength="8"/><span id="err_init_amount"></span></td>
  </tr>
  <tr>
    <td align="right">账户名：</td>
    <td><input type="text" name="name" id="names" onClick="javascript:resetOut('names')" /><span id="err_names"></span></td>
  </tr>
  <tr>
    <td align="right">所在省份：</td>
    <td>
        <select name="area" id="areas" onClick="javascript:resetOut('areas')" >
        {foreach from=$arealist item=area key=k}
        <option value="{$area.name}">{$area.name}</option>
        {/foreach}
        </select><span id="err_areas"></span></td>
  </tr>
  <tr>
    <td align="right">状态：</td>
    <td>
    <select name="status" id="status">
    	<option value="1" selected>启用</option>
    	<option value="0">禁用</option>
    </select>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" name="submit" value="提交" class="button" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" name="edit" value="取消" class="button" onclick="history.back();" /></td>
  </tr>
</table>

<table id="page-table" cellspacing="0"><tr><td align="right" nowrap="true">
<div style='padding-right:30px; padding-top:6px;'>{$pages}</div></td></tr></table>

</form>
</div>

{include file="pagefooter.html"}
