<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><title>用户后台管理中心</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="./css/general.css" rel="stylesheet" type="text/css" />
<title>用户管理中心</title>
</head>
<frameset cols="160,10,*" id="frame-body">
	<frame src="?controller=user&action=list" frameborder="no" scrolling="yes">
	<frame src="?controller=user&action=drag" frameborder="no" scrolling="no">
	<frame src="?controller=user&action=view" id="user_view" name="user_view" frameborder="no" scrolling="yes">
</frameset>
</html>