<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$webtitle}-银行大厅 {$systemversions}</title>
</head>

<frameset rows="100,*" cols="*" frameborder="no" border="0" framespacing="0">
  <frame src="index.php?controller=default&action=top" name="topframe" scrolling="no" noresize="noresize" id="topframe" title="topframe" />
  <frameset cols="120,*" frameborder="no" border="0" framespacing="0">
    <frame src="index.php?controller=default&action=usermenu" name="leftframe" scrolling="auto" noresize="noresize" id="leftframe" title="leftframe" />
    <frame src="index.php?controller=default&action=welcome" name="mainframe" id="mainframe" title="mainframe" />
  </frameset>
</frameset>
<noframes><body>
</body>
</noframes></html>
