<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>文档 {$systemversions}</title>
<script type="text/javascript" src="./js/jquery.js"></script>
<style>
body{font-size:12px; margin:0; padding:0; background-color:#CCCCCC;}
span{font-size:36px; font-weight:700; letter-spacing:50px; height:80px; line-height:80px;}
.openWindows{
	position:absolute;
	right:100px;
	top:30px;
	border:1px #FF0000 solid;
	background-color:#FF3300;
	z-index:100;
}
</style>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
	<td align="center"><span>银行大厅</span></td>
    <td width="100" style="font-size:16px; font-weight:bold;"><a href="javascript:">平台切换</a></td>
</tr>
</table>
<div id="newWindow" class="openWindows">
<table border="0" width="200">
<tr><td colspan="3" align="center" height="30">切换其他频道</td></tr>
<tr>
	<td>综合频道</td>
    <td colspan="2">:&nbsp;&nbsp;银行大厅</td>
</tr><tr>
	<td>低频</td>
    <td>:&nbsp;&nbsp;游戏入口</td>
    <td>代理入口</td>
</tr>
</table>
</div>
</body>
</html>
