{include file="pageheader.html"}
<body>
<div class="message">
<b>
用户名:<font color="#FF0000">{$username}</font>&nbsp;&nbsp;
频道:<font color="#FF0000">{$channelname}</font>&nbsp;&nbsp;
日期:<font color="#FF0000">{$date}</font>
</b>
</div>
<div class="list-div">
<table width="100%" border="0" cellpadding="1" cellspacing="2" class="list-table">
<tr>
 <th width="5%">游戏</th>
 <th width="20%">玩法</th>
 <th width="15%">总代购费</th>
 <th width="15%">实际总代购费</th>
 <th width="15%">中奖金额</th>
 <th width="15%">总结算</th>
</tr>
{foreach from=$aResult item=l key=k}
{foreach from=$l.methodid item=m key=k0}
<tr align="center">
{if $k0==0}
<td rowspan="{$l.count}" class="gametitle">{$l.cnname}</td>
{/if}
<td>{$l.method.$m}</td>
<td>{if $l.sum_prize.$m > 0}<font color="Green">{else}<font color="Red">{/if}{$l.sum_prize.$m|escape:money}</font></td>
<td>{if $l.real_prize.$m > 0}<font color="Green">{else}<font color="Red">{/if}{$l.real_prize.$m|escape:money}</font></td>
<td>{if $l.sum_bonus.$m > 0}<font color="Green">{else}<font color="Red">{/if}{$l.sum_bonus.$m|escape:money}</font></td>
<td>{if $l.total.$m > 0}<font color="Green">{else}<font color="Red">{/if}{$l.total.$m|escape:money}</font></td>
</tr>
{/foreach}
<tr align="center">
<td colspan="2" class="foot">小结</td>
<td class="foot">{if $total.sum_prize.$k > 0}<font color="Green">{else}<font color="Red">{/if}{$total.sum_prize.$k|escape:money}</font></td>
<td class="foot">{if $total.real_prize.$k > 0}<font color="Green">{else}<font color="Red">{/if}{$total.real_prize.$k|escape:money}</font></td>
<td class="foot">{if $total.sum_bonus.$k > 0}<font color="Green">{else}<font color="Red">{/if}{$total.sum_bonus.$k|escape:money}</font></td>
<td class="foot">{if $total.total.$k > 0}<font color="Green">{else}<font color="Red">{/if}{$total.total.$k|escape:money}</font></td>
</tr>
{/foreach}
</table>
</div>
{include file="pagefooter.html"}