{include file="pageheader.html"}
<div class="list-div" id="listDiv">
<table class="list-table">
<form action="" method="post" name="addform" onsubmit="return checkform(this)">
<input type="hidden" name="flag" value="{$flag}" />
<input type="hidden" name="controller" value="security" />
<input type="hidden" name="action"	value="adduserbank" />
<input type="hidden" name="nickname"	value="{$nickname}" />
<input type="hidden" name="bank_id"	value="{$bank_id}" />
<input type="hidden" name="bank"	value="{$bank}" />
<input type="hidden" name="province_id"	value="{$province_id}" />
<input type="hidden" name="province"	value="{$province}" />
<input type="hidden" name="city_id"	value="{$city_id}" />
<input type="hidden" name="city"	value="{$city}" />
<input type="hidden" name="branch"	value="{$branch}" />
<input type="hidden" name="account_name"	value="{$account_name}" />
<input type="hidden" name="account"	value="{$account}" />
<input type="hidden" name="oldid"	value="{$oldid}" />
  <tr>
  	<td class="narrow-label">呢称:</td>
    <td>{$nickname}</td>
  </tr>
  <tr>
  	<td class="narrow-label">绑定银行:</td>
    <td>{$bank}</td>
  </tr>
  <tr>
	<td class="narrow-label">开户银行省份：</td>
	<td>{$province}</td>
   </tr>
   <tr>
	<td class="narrow-label">开户银行城市：</td>
	<td>{$city}</td>
   </tr>
   <tr>
  	<td class="narrow-label">支行名称:</td>
    <td>{$branch}</td>
  </tr>
  <tr>
  	<td class="narrow-label">开户人姓名:</td>
    <td>{$account_name}</td>
  </tr>
  <tr>
  	<td class="narrow-label">银行账号:</td>
    <td>{$account}</td>
  </tr>
  <tr><td></td><td><input type="submit" name="submit" value="确认提交" class="button" />　<input type="button" value="返回" onclick="history.back();" class="button" /></td></tr>
  </form>
</table>
</div>
{include file="pagefooter.html"}