{include file="pageheader.html"}
<script type="text/javascript">
function checkform(obj)
{
	var partn = /^[0-9a-zA-Z]{4,20}$/;
	if( !partn.exec(obj.aliasname.value) )
	{
		alert("请填写正确的合并帐户别名");
		obj.aliasname.focus();
		return false;
	}
	if( obj.users.value == "" )
	{
		alert("请选择要合并的帐户");
		return false;
	}
	return true;
}
</script>
<div style="list-div" class="listDiv">
<table class="list-table">
<form action="index.php" method="post" name="uniteform" onsubmit="return checkform(this)">
<input type="hidden" name="controller" value="security" />
<input type="hidden" name="action" value="setunite" />
<input type="hidden" name="flag" id="flag" value="setunite" />
<input type="hidden" name="check" value="{$check}" />
	<tr>
    	<th colspan="2">合帐设置</th>
    </tr>
    <tr>
    	<td class="narrow-label">合帐组名称:</td>
        <td><input type="text" name="aliasname" id="aliasname" />(数字和字母组成，4至20位组成)</td>
    </tr>
    <tr>
    	<td class="narrow-label">用户名:</td>
        <td><select name="users[]" id="users" multiple="multiple" size="10">
            {foreach from=$users item=user key=uid}
            <option value="{$user.userid}">{$user.username|escape:html}</option>
            {/foreach}
            </select>(按住键盘 Ctrl 键不放，点击名字可以进行多选)
        </td>
    </tr>
    <tr>
    	<td></td><td><input type="submit" name="submit" value="提交" class="button" />&nbsp;&nbsp;<input type="button" name="button" value="返回" onclick="history.back(-1);" class="button" /></td>
    </tr>
</form>
</table>
</div>
{include file="pagefooter.html"}