{include file="pageheader.html"}
<script type="text/javascript">
function checkform(obj)
{
  if( !validateUserPss(obj.secpass.value) )
  {
  	alert("资金密码不符合规则，请重新输入");
	obj.secpass.focus();
	return false;
  }
  return true;
}
</script>
<div class="list-div" id="listDiv">
<table class="list-table">
<form action="index.php" method="post" name="updateform" onsubmit="return checkform(this)">
<input type="hidden" name="flag" value="insert" />
<input type="hidden" name="controller" value="security" />
<input type="hidden" name="action"	value="setsecurity" />
<input type="hidden" name="nextcon" value="{$nextcontroller}" />
<input type="hidden" name="nextact" value="{$nextaction}" />
	<tr><th colspan="2">你还没有设置资金密码，请先设置</th></tr>
  <tr>
  	<td class="narrow-label">输入资金密码:</td>
    <td><input type="password" name="secpass" value="" /><br />(由字母和数字组成6-16个字符；且必须包含数字和字母，不允许连续三位相同，不能和登陆密码相同)</td>
  </tr>
  <tr><td></td><td><input type="submit" name="submit" value="提交" class="button" />&nbsp;&nbsp;<input type="button" value="重置" onclick="this.form.reset()" class="button" /></td></tr>
</form>
</table>
</div>
{include file="pagefooter.html"}