{include file="pageheader.html"}
<script type="text/javascript">
function checkForm(obj)
{
	var isok = true;
	if( obj.money.value < {$min_money} )
	{
		//alert("提现金额不能低于最低平台提现金额");
		jQuery("#money").siblings("span").html("※提现金额不能低于最低平台提现金额");
		isok = false;
	}else{ jQuery("#money").siblings("span").html(""); }
	
	if( obj.bankinfo.value <= 0 )
	{
		jQuery("#bankinfo").siblings("span").html("※您忘记了选择银行卡信息");
		isok = false;
	}else{ jQuery("#bankinfo").siblings("span").html(""); }
	return isok;
	//return true;
}
</script>
<div class="list-div" id="listDiv">
<table class="list-table">
<form action="index.php" method="post" name="drawform" onsubmit="return checkForm(this)">
<input type="hidden" name="controller" value="security" />
<input type="hidden" name="action" value="businesswithdraw" />
<input type="hidden" name="flag" value="withdraw" />
<input type="hidden" name="check" value="{$check}" />
	<tr>
    	<th colspan="2">商务提现</td>
    </tr>
    <tr>
    	<td class="narrow-label">用户名:</td>
        <td>{$user.username|escape:html}</td>
    </tr>
    <tr>
    	<td class="narrow-label">可提现金额:</td>
        <td>{$user.availablebalance|escape:money}</td>
    </tr>
    <tr>
    	<td class="narrow-label">提现金额:</td>
        <td><input type="text" name="money" id="money" size="20" onkeyup="checkWithdraw(this,'chineseMoney',{$user.availablebalance});" />(每次最少提现{$min_money})&nbsp;&nbsp;<span style="color:red;"></span></td>
    </tr>
    <tr>
    	<td class="narrow-label">提现金额(大写):</td>
        <td><span id="chineseMoney"></span></td>
    </tr>
    <tr>
	<td class="narrow-label">收款银行卡信息：</td>
    <td>
    	<select name="bankinfo" id="bankinfo">
    		{foreach from=$banks item=bank key=k}
    			<option value="{$bank.id}">{if $bank.nickname != ""}{$bank.nickname}--{/if}{$bank.bank_name}--{$bank.account}</option>
            {/foreach}
            </select>&nbsp;&nbsp;<span style="color:red;"></span>
        </td>
    </tr>
    <tr>
    	<td></td><td><input type="submit" name="submit" value="提交提现申请" class="button" /></td>
    </tr>
</form>
</table>
</div>
{include file="pagefooter.html"}