<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>文档 {$systemversions}</title>
</head>
<body>
<table>
<form action="index.php?controller=default&action=registermenu" method="post">
<tr>
	<td>上级菜单：</td>
	<td><select name="parentid">
    			<option value="0">Root</option>
                {foreach from=$data item=d key=k}
                <option value="{$d.menuid}|{$d.parentstr}">{if $d.parentstr!=''}---{/if}{$d.title|escape:html}</option>
                {/foreach}
             </select></td>
</tr>
<tr>
	<td>菜单名：</td>
    <td><input type="text" size="20" name="title" /></td>
</tr>
<tr>
	<td>菜单描述：</td>
    <td><input type="text" size="50" name="description" /></td>
</tr>
<tr>
	<td>控制器：</td>
    <td><input type="text" size="20" name="controllers" /></td>
</tr>
<tr>
	<td>动作</td>
    <td><input type="text" size="20" name="actioners" /></td>
</tr><tr>
	<td>其他附加选项：</td>
    <td><input type="checkbox" name="ismenu" value="1" />是否为菜单
    	<input type="checkbox" name="islink" value="1" />是否为连接 
        <input type="checkbox" name="isdisabled" value="1" checked="checked" />是否启用
        <input type="checkbox" name="islog" value="1" />是否记录日志
    </td>
</tr>
<tr>
	<td>菜单排序：</td>
    <td><input type="text" size="10" value="0" name="sort" /></td>
</tr>
<tr>
	<td colspan="2">
    	<input type="hidden" name="flag" value="insert" />
		<input type="submit" name="submit" value="增加" />
	</td>
</tr>
</form>
</table>
</body>
</html>
