{include file="pageheader.html"}
<div class="list-div" id="listDiv">
<table class="list-table">
<form action="index.php" method="post">
<input type="hidden" name="controller" value="user" />
<input type="hidden" name="action"	value="upwithdraw" />
<input type="hidden" name="uid" value="{$user.userid}" />
<input type="hidden" name="flag" value="withdraw" />
	<tr>
    	<td class="narrow-label">用户帐号：</td>
        <td>{$user.username|escape:html}</td>
    </tr>
    <tr>
    	<td class="narrow-label">您的银行大厅余额：</td>
        <td>{$user.availablebalance|escape:money}</td>
    </tr>
    <tr>
    	<td class="narrow-label">提现金额：</td>
        <td><input type="text" name="money" size="20" onkeyup="checkWithdraw(this,'chineseMoney',{$user.availablebalance});" /></td>
    </tr>
    <tr>
    	<td class="narrow-label">提现金额(大写)：</td>
        <td><span id="chineseMoney" style="background-color:#999999;"></span></td>
    </tr>
    <tr>
    	<td></td>
    	<td><input type="submit" name="submit" value="下一步" class="button"/>&nbsp;&nbsp;<input type="button" value="返回列表" onclick="history.back()" class="button" /></td>
    </tr>
</form>
</table>
</div>
{include file="pagefooter.html"}