{include file="pageheader.html"}
<script type="text/javascript">
function checkform(obj)
{
  if( !validateUserName(obj.username.value) )
  {
     alert("登陆帐户名不符合规则，请重新输入");
	 obj.username.focus();
	 return false;
  }
  if( !validateUserPss(obj.userpass.value) )
  {
  	alert("密码不符合规则，请重新输入");
	obj.userpass.focus();
	return false;
  }
  if( !validateNickName(obj.nickname.value) )
  {
  	alert("呢称不符合规则，请重新输入");
	obj.nickname.focus();
	return false;
  }
  obj.submit.disabled=true;
  return true;
}
</script>
<div class="list-div" id="listDiv">
<table class="list-table">
<form action="index.php" method="post" name="updateform" onsubmit="return checkform(this)">
<input type="hidden" name="flag" value="insert" />
<input type="hidden" name="controller" value="user" />
<input type="hidden" name="action"	value="adduser" />
  <tr>
  	<td class="narrow-label">用户级别:</td>
    <td>
		<input type="radio" name="usertype" value="1" checked="checked" />代理用户&nbsp;&nbsp;&nbsp;
        <input type="radio" name="usertype" value="0" />会员用户
    </td>
  </tr>
  <tr>
  	<td class="narrow-label">登陆帐号:</td>
    <td><input type="text" name="username" />(由0-9,a-z,A-Z组成的6-16个字符)</td>
  </tr>
  <tr>
  	<td class="narrow-label">登陆密码:</td>
    <td><input type="password" name="userpass" />(由字母和数字组成6-16个字符；且必须包含数字和字母，不允许连续三位相同)</td>
  </tr>
  <tr>
  	<td class="narrow-label">用户呢称:</td>
    <td><input type="text" name="nickname" />(由2至6个字符组成)</td>
  </tr>
  <tr><td></td><td><input type="submit" name="submit" value="提交" class="button" /></td></tr>
</form>
</table>
</div>
{include file="pagefooter.html"}