{include file="pageheader.html"}
<script type="text/javascript">
function checkform(obj)
{
	var partn = /^(.){2,6}$/;
	if( !partn.exec(obj.groupname.value) )
	{
		alert("组别名称不合法");
		obj.groupname.focus();
		return false;
	}
	return true;
}
</script>
<div class="list-div" id="listDiv">
<table class="list-table">
<form action="index.php" method="post" name="updateform" onsubmit="return checkform(this)">
<input type="hidden" name="flag" value="insert" />
<input type="hidden" name="controller" value="useradmin" />
<input type="hidden" name="action"	value="addgroup" />
  <tr>
  	<td class="narrow-label">组别名称:</td>
    <td><input type="text" name="groupname" />(2至6个字符组成)</td>
  </tr>
  <tr>
  <td></td>
  <td><input type="submit" name="submit" value="提交" class="button" />
  &nbsp;&nbsp;<input type="button" value="返回列表" onclick="window.location='index.php?controller=useradmin&action=grouplist'" class="button" />
  </td>
  </tr>
</form>
</table>
</body>
</div>
{include file="pagefooter.html"}