a * {
	cursor:pointer;
}

a, span, b, i, u {
	display:inline-block;
}


body.rtl .private-map,
body.rtl .private-map-10,
body.rtl .private-map-winter,
body.rtl .private-map-10-winter
{
	background-position:41px -2px !important;
}

body.rtl .city-map, 
body.rtl .city-map-winter
{
	background-position:41px -2px !important;
}

body.rtl .tooltip img.good {
	float:left;
}

.exp-gg {
	width:174px;
	height:8px;
	margin:0;
	padding:0;
	font-size:1pt;
	background:transparent url(img3/experience-gg.gif) no-repeat 0 0;
	}
.exp-gw {
	display:block;
	height:4px;
	margin:2px;
	padding:0;
	font-size:1pt;
	background: #fff url(img3/experience-gg.gif) no-repeat 0 -10px;
	}
