
#dummy
{
}

div.lv_liveadmin
{
}
div.lv_backblack
{
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	display: block;
	z-index: 10000;
}
div.lv_mainframe
{
	background-image: url('<%value theme_folder_ws_scr01.png%>');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	position: fixed;
	display: block;
	z-index: 10110;
	lv_extra_quirks:lv_mainframe;
}
div.lv_baseiframe
{
	border: 0px none;
	position: absolute;
	display: block;
	z-index: 10200;
	top: 48px;
	right: 26px;
	bottom: 28px;
	left: 26px;
}
div.lv_maskiframe
{
	background-image: url('<%value theme_folder_ws_alpha_00.png%>');
	background-repeat: repeat;
	position: absolute;
	display: block;
	z-index: 10400;
	top: 48px;
	right: 26px;
	bottom: 28px;
	left: 26px;
}
div.lv_topframe
{
	position: absolute;
	top: 0px;
	right: 0px;
	left: 26px;
	height: 46px;
	border: 0px none;
}
div.lv_closebutton
{
	background-image: url('<%value theme_folder_ws_scr01.png%>');
	background-position: -591px -526px;
	position: absolute;
	width: 68px;
	height: 40px;
	top: 5px;
	left: 590px;
	cursor: pointer;
}
div.lv_chatmcap
{
	position: absolute;
	top: 22px;
	right: 130px;
	bottom: 0px;
	left: 0px;
	height: 24px;
	cursor: move;
	z-index: 20000;
}
div.lv_closebutton:hover
{
	background-position: -26px -525px;
}
div.lv_chattitle
{
	cursor: move;
	position: absolute;
	top: 20px;
	left: 0px;
	padding-left: 5px;
	padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #222222;
	height: 20px;
	width: 80%;
}
iframe.lv_iframe
{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	border-style: none;
}

div.lv_invite
{
	position: fixed;
	display: block;
	z-index: 10000;
	lv_extra_quirks:lv_invite;
}
div.lv_invite_img
{
	position: relative;
	background-image: url('<%value theme_folder_ws_invite.jpg%>');
	width: 478px;
	height: 194px;
}
div.lv_invite div.lv_yes
{
	position: absolute;
	left: 398px;
	top: 154px;
	width: 70px;
	height: 31px;
	cursor: pointer;
}
div.lv_invite div.lv_no
{
	position: absolute;
	left: 322px;
	top: 154px;
	width: 70px;
	height: 31px;
	cursor: pointer;
}

