{include file="pageheader.html"}
<div class="list-div" id="listDiv">
<table cellspacing='1' cellpadding='3' id='list-table'>
	<tr bgcolor="#FF0000">
        <td align="center" height="30" colspan="3">公告列表</td>
    </tr>
    {foreach from=$notices item=notice key=k}
    <tr>
    	<td align="center" height="25"><a href="?controller=help&action=notice&nid={$notice.id}" style="color:#993300;">{$notice.subject|escape:html}</a></td>
        <td align="center" width="30%">{$notice.sendday}</td>
    </tr>
    {/foreach}
</table>
</div>
{include file="pagefooter.html"}
