<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>载入中 {$systemversions}</title>
</head>
<body>
<div id="loadhtml" style="text-align:center; font-size:24px; width:100%; padding-top:100px;">正在载入数据，请等待......<span id="loadprocess"></span><br /><br /><img src="./images/loading.gif" width="300" /></div>
<script type="text/javascript">
/*var loadtime = 0;	//20秒载入
function showprocess()
{
	document.getElementById("loadprocess").innerHTML = parseInt((loadtime/100)*100)+"%";
	loadtime += 1;
	if( loadtime <= 100 )
	{
		setTimeout("showprocess()",200);
	}
}
showprocess();*/
</script>
</body>
</html>
