{include file="pageheader.html"}
<script>
jQuery("document").ready( function(){
    jQuery("#chineseMoney").html(changeMoneyToChinese({$s.fmoney}));
});
function checkform()
{
	$("#startTran").attr("disabled","disabled");
	$("#startTran").attr("value","正在转账中...");
	return true;
}
</script>
<div class="right_021">
<div class="height51">
<div class="right_02_281"></div>
<div class="right_02_291"></div>
</div>
<div class="list-div" id="listDiv">
<form action="index.php" method="post" name="updateform" onsubmit="return checkform();">
<input type="hidden" name="flag" value="doTranfer" />
<input type="hidden" name="controller" value="security" />
<input type="hidden" name="action"  {if $sign == 'in' }value="pickup"{else}value="tran"{/if} />
<table width="100%" cellspacing='0' cellpadding='0' id='list-table'>
  <tr>
    <td class="narrow-label" width="15%">转{if $sign == 'in'}出{else}入{/if}频道:</td>
    <td width="85%">{$aChannelData.$s.toChannelId}<input type="hidden" name="toChannelId" value="{$s.toChannelId}"></td>
  </tr>
  <tr>
    <td class="narrow-label">转{if $sign == 'in'}入{else}出{/if}金额:</td>
    <td>{$s.fmoney|escape:money}
    <input type="hidden" name="fmoney" size="20" value="{$s.fmoney}" /></td>
  </tr>
  <tr>
    <td class="narrow-label">转{if $sign == 'in'}入{else}出{/if}金额(大写)</td>
    <td><span id="chineseMoney" style="color:#FF0000;"></span></td>
  </tr>
  <tr><td colspan="2" align="center" height="40"><input type="submit" name="submit" id="startTran" value="确认转账" class='buttonnormal'></td></tr>
</table>
</form>
</div>
<div class="height51">
<div class="right_02_241"></div>
<div class="right_02_251"></div>
</div>
</div>
{include file="pagefooter.html"}