{% extends "account_base.html" %}
{% load i18n %}
{% block extrastyle %}
<link href="{{ MEDIA_URL }}css/jquery-ui.css" rel="stylesheet" type="text/css" media="screen,print">
{% endblock extrastyle %}
{% block extrajs %}
<script type='text/javascript' src='{{ MEDIA_URL }}js/jquery.js'></script>
<script type='text/javascript' src='{{ MEDIA_URL }}js/jquery-ui.min.js'></script>
<script type="text/javascript">
//jQuery(document).ready(function(){
//	$('.method_header').click(function() {
//		$(this).next().show('fast');
//		return false;
//	}).next().hide();
//});
$(document).ready(function() {
	$("#accordion").accordion();
});
</script>
{% endblock extrajs %}
{% block rightContent %}
<h1>{% trans "Please select pay method" %}</h1>
<div id="accordion" class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons" role="tablist">
{% for method in paymethods %}
	<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab">
		<span class="ui-icon ui-icon-triangle-1-e"></span>
		<a>{{method.name}}</a>
	</h3>
	<div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" role="tabpanel">
		{% if method.banks.count %}
		{% for bank in method.banks.all %}
		<p>
			<input type="radio" name="deposit_method" id="deposit_bank_{{bank.id}}" value="{{bank.id}}">
			<label for="deposit_bank_{{bank.id}}">{{bank.img_logo|safe}}</label>
		</p>
		{% endfor %}
		{% endif %}
		{% if method.thirdparts.count %}
		{% for thirdpart in method.thirdparts.all %}
		<p>
			<input type="radio" name="deposit_method" id="deposit_thirdpart_{{thirdpart.id}}" value="{{thirdpart.id}}">
			<label for="deposit_thirdpart_{{thirdpart.id}}">{{thirdpart.img_logo|safe}}</label>
		</p>
		{% endfor %}
		{% endif %}
	</div>
{% endfor %}
</div>
<div class="formFooter">
    <div class="importantNote">All <span class="mandatory">gold fields</span> are mandatory</div>
    <div class="buttons">
        <input type="image" src="{{ MEDIA_URL }}images/button_next.png" alt="NEXT">
    </div>

</div>
{% endblock rightContent %}