{% extends "account_base.html" %}
{% load i18n %}
{% block extrastyle %}
<link href="{{ MEDIA_URL }}css/jquery-ui.css" rel="stylesheet" type="text/css" media="screen,print">
{% endblock extrastyle %}
{% block extrajs %}
<script type='text/javascript' src='{{ MEDIA_URL }}js/jquery.js'></script>
<script type='text/javascript' src='{{ MEDIA_URL }}js/jquery-ui.min.js'></script>
<script type="text/javascript">
//jQuery(document).ready(function(){
//	$('.method_header').click(function() {
//		$(this).next().show('fast');
//		return false;
//	}).next().hide();
//});
$(document).ready(function() {
	$("#accordion").accordion();
});
</script>
{% endblock extrajs %}
{% block rightContent %}
<form action="" method="post">
{% csrf_token %}
<h1>{% trans "Please select pay method" %}</h1>
<div id="accordion" class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons" role="tablist">
{% regroup methods by discriminator as method_list %}
{% for type in method_list %}
	<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab">
		<a>{{type.grouper}}</a>
	</h3>
	<div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" role="tabpanel">
		{% for method in type.list %}
		<p>
			<input type="radio" name="deposit_method" id="deposit_method_{{method.id}}" value="{{method.id}}">
			<label for="deposit_method_{{method.id}}">{{method.img_logo|safe}}</label>
		</p>
		{% endfor %}
	</div>
{% endfor %}
</div>
<div class="formFooter">
    <div class="importantNote">All <span class="mandatory">gold fields</span> are mandatory</div>
    <div class="buttons">
        <input type="image" src="{{ MEDIA_URL }}images/button_next.png" alt="NEXT">
    </div>
</div>
</form>
{% endblock rightContent %}