{% extends "account_base.html" %}
{% load i18n %}
		{% block rightContent %}
		<div class="formText" style="width:750px;text-align:left;">
			Please keep your E-mail information updated. You will only be contacted regarding your game winnings, software updates and on-site promotions. Confirmation of each transaction will also be E-mailed to you. If you have questions or concerns regarding your account or if you want to change your address/phone number, please <a href="mailto:support@slotland.com?subject=Account Info (DARKMOON1111)">let us know</a>.
		</div>
		{% if not user.profile.email_verified %}
		<table width="100%" cellspacing="1" cellpadding="10" border="0">
			<tbody>
				<tr>
					<td width="15%" bgcolor="#FF0000" align="center">
						<font size="4" face="arial, helvetica" color="#FFFFFF"><b>NOTE</b></font>
					</td>
					<td width="85%" bgcolor="#F0F0F0">
						Your e-mail address has not yet been verified. To verify it please click <a href="{% url account_verify %}">here</a>.
					</td>
				</tr>
			</tbody>
		</table>
		{% endif %}
		<br />
	    {% if eform.errors %}
	    {% for field in eform %}
	    {% if field.errors %}
	    <div class="errorNotice">
	    	<div class="icon error"></div>
	    	{{ field.errors|striptags }}
	    </div>
	    {% endif %}
    	{% endfor %}
	    {% endif %}
		<form action="" method="post">
			{% csrf_token %}
			<input type="text" name="email" value="{{user.email}}">
			<input type="submit" value="{% trans 'update' %}" name="user_edit1">
			<div class="formText" style="width:750px;">
				Please keep your mobile phone number updated. You will only be contacted via your mobile phone regarding your winnings, bonus promotions, and new software releases of our mobile games.
			</div>
			<b>Mobile phone number</b>
			<br>
			<select name="mobile_phone_prefix">
			{% for code in country_codes %}
			{% if code.numcode %}
			<option value="+{{code.numcode}}"{%if user.profile.country_id == code.iso%} selected="selected"{%endif%}>+{{code.numcode}}</option>
			{% endif %}
			{% endfor %}
			</select>
			<input type="text" name="mobile" value="{{user.profile.mobile}}">
			<input type="submit" value="{% trans 'update' %}" name="user_edit2">
		</form>
		<br />
		<form action="" method="post">
			{% csrf_token %}
			<input type="hidden" value="4" name="sm_id"><p>
			If you have a bonus code, please enter it below and press the "Redeem Code" button.
			<b>Bonus Code</b>
			<br>
			<input type="text" value="" name="promo_code">
			<input type="submit" value="{% trans 'Redeem Code'%}" name="redeem_code">
		</form>
		<table width="100%" cellspacing="0" cellpadding="0" border="1">
			<tbody>
			<tr>
				<td bgcolor="#9C9090">
					<table width="100%" cols="2" cellspacing="1" cellpadding="6" border="0">
						<tbody>
							<tr>
								<td bgcolor="#990000" colspan="2">
									<b>Your Account</b>
									<br>
								</td>
							</tr>
							<tr>
								<td width="50%" valign="top" bgcolor="#CCCCCC">
									<b>{% trans "username" %}</b>
									<br>
									{{ user.username }}
									<br><br>
								</td>
								<td width="50%" valign="top" bgcolor="#CCCCCC">
									<b>{% trans "Cash" %}</b>
									<br>
									${{ user.profile.available_balance|floatformat:2 }}
									<br><br>
								</td>
							</tr>
							<tr>
								<td bgcolor="#990000" colspan="2">
									<b>About You</b>
									<br>
								</td>
							</tr>
							<tr>
								<td valign="top" bgcolor="#CCCCCC">
									<table cellspacing="0" cellpadding="0" border="0">
										<tbody>
											<tr>
												<td>
													<b>First name</b>
													<br>
													{{user.first_name}}
													<br><br>
												</td>
												<td>&nbsp;&nbsp;&nbsp;</td>
												<td>
													<b>Last name</b>
													<br>
													{{user.last_name}}
													<br><br>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td valign="top" bgcolor="#CCCCCC">
									<b>E-mail address</b>
									<br>
									{{ user.email }}
									<br><br>
									<b>Phone number</b>
									<br>
									{{ user.profile.phone }}
									<br><br>
								</td>
							</tr>
							<tr>
								<td width="50%" valign="top" bgcolor="#CCCCCC">
									<b>Street address</b><br>
									{{user.profile.address}}<br><br>
									<b>Apt/Suite number</b><br>
									{{user.profile.address2}}
									<br><br>
								</td>
								<td valign="top" bgcolor="#CCCCCC">
									<b>City</b><br>
									{{user.profile.city}}<br><br>
									<b>Postal code</b><br>
									{{user.profile.zip}}<br><br>
									<b>State/Province</b><br>
									{{user.profile.province}}<br><br>
									<b>Country</b><br>
									{{user.profile.country}}<br><br>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			</tbody>
		</table>
        {% endblock rightContent %}
