{include file="pageheader.html"}
<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript">
jQuery.noConflict();
function check_top(thisid,topid)
{
	//alert(jQuery("#"+thisid).attr("checked"));
	if( jQuery("#"+thisid).attr("checked") == true )
	{
		jQuery("#"+topid).attr("checked",true);
	}
}
function clear_son( topid )
{
	if( jQuery("#"+topid).attr("checked") == false )
	{
		jQuery("#"+topid).parent().parent().nextAll().find(":checkbox").attr("checked",false);
	}
}
function selectAll(obj)
{
	jQuery(":checkbox[id!='"+obj+"']").attr("checked",jQuery("#"+obj).attr("checked"));
}
function clear_bytop( topid, count )
{
	if( jQuery("#"+topid).attr("checked") == false )
	{
		jQuery("#"+topid).closest("tr").find(":checkbox").attr("checked",false);
		for(i=0;i<count-1;i++)
		{
			jQuery("#"+topid).closest("tr").nextAll("tr:eq("+i+")").find(":checkbox").attr("checked",false);
		}
		//jQuery("#"+topid).closest("tr").nextAll().find("td").not(".first-cell").find(":checkbox").attr("checked",false);
	}
}
</script>
<form method="POST" name="listForm" action="./?controller=admingroup&action={$form_action}"  
onsubmit="return validate()" >
<div class="tab-div">
  <div id="tabbar-div"><span 
	class="tab-front" id="general-tab">基本信息设置</span><span 
	 class="tab-back" id="detail-tab">菜单权限设置</span>
  </div>

{* 标签 : 基本信息 *}
  <div id="tabbody-div">
    <table width="90%" id="general-table">
	  <tr>
        <td class="narrow-label">组别名称</td>
        <td><input name="groupname" value="{if $form_action==update}{$admingroup.groupname|escape:html}{/if}" type="text"></td>
      </tr>

	  <tr>
        <td class="narrow-label"><span class="require-field">*</span>所属组别</td>
        <td>
			<select name="parentid">
			     <option value="0">顶级组别</option>
				{$admingroup.parentstring}
			</select>
		</td>
      </tr>

	  <tr>
        <td class="narrow-label">是否启用</td>
        <td>
			<select style='width:70px;' name="isdisabled">
			   <option value="0" {if $admingroup.isdisabled==0}selected=TRUE{/if}>正常</option>
			   <option style='color:#f30;' value="1" {if $admingroup.isdisabled!=0}selected=TRUE{/if}>禁用</option>
			</select>
		</td>
      </tr>

	    <tr>
        <td class="narrow-label">是否销售</td>
        <td>
			<select style='width:70px;' name="issales">
			   <option value="0" {if $admingroup.issales == 0}selected=TRUE{/if}>普通</option>
			   <option style='color:#690;' value="1" {if $admingroup.issales != 0}selected=TRUE{/if}>销售</option>
			</select>
		</td>
      </tr>

	  <tr>
        <td class="narrow-label">排序值</td>
        <td><input size=6 maxlength=4 name="sort" value="{$admingroup.sort|escape:html}" type="text">
			 组别列表中显示的顺序, 数值越小越优先
		</td>
      </tr>

	  <tr>
        <td class="narrow-label">组别描述</td>
        <td><input size=70 name="description" value="{$admingroup.description|escape:html}" type="text"></td>
      </tr>
    </table>


{* 标签 : 权限属性 *}
<div class="list-div" id="listDiv">
<table cellspacing='1' cellpadding='2' id="detail-table" style="display:none">
<tr>{foreach from=$menus.0 item=menu key=top}
	<td rowspan="{$counts.$top}"  class="first-cell" style='width:16%;'><label for="menu_{$top}" TITLE='{$menu.desc}'><input type="checkbox" 
	name="menustrs[]" id="menu_{$top}" value="{$top}" {if $menu.check}checked="checked"{/if} onclick="clear_bytop('menu_{$top}',{$counts.$top})">{$menu.title}</label></td>
	{foreach from=$menus.$top item=menu2 key=top2}
		<td width="18%" style='color:#690;padding-left:6px;'><label for="menu_{$top2}" TITLE='{$menu2.desc}'><input type="checkbox" name="menustrs[]" id="menu_{$top2}" value="{$top2}" {if $menu2.check}checked="checked"{/if} onclick="check_top('menu_{$top2}','menu_{$top}');clear_son('menu_{$top2}')">{$menu2.title}</label></td>
		<td style="color:#666;width:69%;line-height:18px;padding-left:12px;">
		{if count($menus.$top2)>0}
			{foreach from=$menus.$top2 item=menu3 key=top3}<div style="width:160px;float:left;"><label for="menu_{$top3}" TITLE='{$menu3.desc}'><input type="checkbox" name="menustrs[]" id="menu_{$top3}" value="{$top3}"{if $menu3.check}checked="checked"{/if} onclick="check_top('menu_{$top3}','menu_{$top2}');check_top('menu_{$top3}','menu_{$top}')">{$menu3.title}</label></div>{/foreach}
		{else}
		&nbsp;
		{/if}
		</td>
</tr>{/foreach}
{/foreach}
<tr>
	<td colspan="4" height="25" align="center"><label><input type="checkbox" name="selectall" id="selectall" onclick="selectAll('selectall')" />全选</label></td>
</tr> 
</table></div>

<div class="button-div"><br/>
<input type="submit" value="提交" class="button"  />
<input type="reset" value="重置" class="button" />
<input type="hidden" name="groupid" value='{$admingroup.groupid}'>
    </div>
  </div>

</div>
</form>


<script language="JavaScript">
{literal}
document.getElementById("tabbar-div").onmouseover = function(e)
{
    var obj = Utils.srcElement(e);
    if (obj.className == "tab-back")
    {
        obj.className = "tab-hover";
    }
}

document.getElementById("tabbar-div").onmouseout = function(e)
{
    var obj = Utils.srcElement(e);
    if (obj.className == "tab-hover")
    {
        obj.className = "tab-back";
    }
}

document.getElementById("tabbar-div").onclick = function(e)
{
    var obj = Utils.srcElement(e);
	//alert(obj.className);
    if (obj.className=='' || obj.className == "tab-front")
    {
        return;
    }
    else
    {
        objTable = obj.id.substring(0, obj.id.lastIndexOf("-")) + "-table";

        var tables = document.getElementsByTagName("table");
        var spans  = document.getElementsByTagName("span");

        for (i = 0; i < tables.length; i++)
        {
            if (tables[i].id == objTable)
            {
                tables[i].style.display = (Browser.isIE) ? "block" : "table";
            }
            else
            {
                tables[i].style.display = "none";
            }
        }
        for (i = 0; spans.length; i++)
        {
            if (spans[i].className != null && spans[i].className == "tab-front")
            {
                spans[i].className = "tab-back";
                obj.className = "tab-front";
                break;
            }
        }
    }
}

function showNotice(objId)
{
    var obj = document.getElementById(objId);

    if (obj)
    {
        if (obj.style.display != "block")
        {
            obj.style.display = "block";
        }
        else
        {
            obj.style.display = "none";
        }
    }
}
function checkAll(frm, checkbox)
{
  for (i = 0; i < frm.elements.length; i++)
  {
    if (frm.elements[i].name == 'action_code[]' || frm.elements[i].name == 'chkGroup')
    {
      frm.elements[i].checked = checkbox.checked;
    }
  }
}

function check(list, obj)
{
  var frm = obj.form;

    for (i = 0; i < frm.elements.length; i++)
    {
      if (frm.elements[i].name == "action_code[]")
      {
          var regx = new RegExp(frm.elements[i].value + "(?!_)", "i");

          if (list.search(regx) > -1) frm.elements[i].checked = obj.checked;
      }
    }
}

if (document.getElementById("listDiv"))
{
	document.getElementById("listDiv").onmouseover = function(e) {
    obj = Utils.srcElement(e);
    if (obj) {
		if (obj.parentNode.tagName.toLowerCase() == "tr") row = obj.parentNode;
		else if (obj.parentNode.parentNode.tagName.toLowerCase() == "tr") row = obj.parentNode.parentNode;
		else return;
			for (i = 0; i < row.cells.length; i++){
				if (row.cells[i].tagName != "TH") row.cells[i].style.backgroundColor = '#E7F4F5';
				}
			}
		}

	document.getElementById("listDiv").onmouseout = function(e) {
	obj = Utils.srcElement(e);
	if (obj) {
		if (obj.parentNode.tagName.toLowerCase() == "tr") row = obj.parentNode;
		else if (obj.parentNode.parentNode.tagName.toLowerCase() == "tr") row = obj.parentNode.parentNode;
		else return;
		  for (i = 0; i < row.cells.length; i++){
			  if (row.cells[i].tagName != "TH") row.cells[i].style.backgroundColor = '#FFF';
				}
			}
		}
}

{/literal}
</script>

{insert_scripts files="./js/validator.js"}
{literal}
<script language="JavaScript">
<!--
  /**
   * 检查表单输入的内容
   */
	function validate()
	{
		var validator = new Validator('listForm');
		validator.required('groupname', "分组名不能为空!");
		validator.required('sort', "排序值不能为空!");
		if( document.forms['listForm'].elements['sort'].value < 0 )
		{
			validator.addErrorMsg('排序值应大于0');
		}
		return validator.passed();  
    }
//-->
</script>
{/literal}

{include file="pagefooter.html"}