{include file="pageheader.html"}
<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/calendar/jquery.dyndatetime.js"></script>
<script type="text/javascript" src="./js/calendar/lang/calendar-utf8.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="./js/calendar/css/calendar-green.css"  />
<script>
$(document).ready(function(){
    $('#form1').submit(function(){
        var i = parseInt($('#rank').val());
        $('#rank').val(i);
        if ($('#rank').val() < 1 || $('#rank').val() > 100) {
            alert('请正确输入权值！');
            return false;
        }
        return true;
    });
});
</script>
<div class="list-div">
<form id="form1" action="./index.php?controller=draw&action=editrank" method="post">
<table cellspacing='1' cellpadding='3' id='list-table'>
<tr>
    <td class="narrow-label">游戏名称</td>
    <td>{$lottery.cnname}</td>
</tr
<tr>
    <td class="narrow-label">号源网站名称</td>
    <td>{$source.name}</td>
</tr>
<tr>
    <td class="narrow-label">号源网址</td>
    <td>{$source.url}</td>
</tr>
<tr>
<td class="narrow-label">页面是否登录</td>
<td>{if $source.needlogin}是{else}否{/if}
</td>
</tr>

<tr>
<td class="narrow-label">权重</td>
<td><input type="text" name="rank" id="rank" size="6" value="{$source.rank}"/>（请输入1~100之间的整数）</td>
</tr>
<tr>
	<td class="narrow-label"></td>
	<td><input type="hidden" name="id" value="{$source.id}"><input type="hidden" name="sa" value="{if $form_action=='new'}addItem{else}updateItem{/if}"><input type="submit" class="button" value="提交"></td>
</tr>
</table>
</form>
</div>
{include file="pagefooter.html"}