{include file="pageheader.html"}
<script type="text/javascript" src="./js/jquery.js"></script>
<script language="javascript" type="text/javascript">
$(function(){
    $("#istester").change(function(){
        $("#searchForm").submit();
    });
});
</script>
<div class="list-div" id="listDiv">
  <table cellspacing='1' cellpadding='3' id='list-table'>
  <FORM name="searchForm" action="" METHOD='get'  id="searchForm">
    <tr>
  		<td class="narrow-label">日志信息图表 : &nbsp;&nbsp;&nbsp;&nbsp;
		</td>
  		<td><img src="./images/icon_search.gif" width="26" height="22" border="0" TITLE="SEARCH" />
<input type='hidden' name="controller" value="marketmgr"/>
<input type='hidden' name="action" value="logs"/>
&nbsp;&nbsp;&nbsp;&nbsp;
开始时间: <input type="text" id="sdate" name="sdate" size='8' value='{$s.sdate|escape:html}' />&nbsp;&nbsp;
截止时间: <input type="text" id="edate" name="edate" size='8' value='{$s.edate|escape:html}' />&nbsp;&nbsp;
是否是测试账号:
<select name="istester"  id="istester">
<option value="-1" {if $s.istester=='-1'}SELECTED{/if}>全部类型</option>
<option value="0" {if $s.istester=='0'}SELECTED{/if}>非测试账号</option>
<option value="1" {if $s.istester=='1'}SELECTED{/if}>测试账号</option>
</select>&nbsp;&nbsp;
<label for='show1' style='color:#0033CC'><input type="checkbox" id="show1" name="show1" 
	value="1" {if $s.show1==1}checked="checked"{/if}>帐变总数</label>
<label id='show2' style='color:#FF0000'><input type="checkbox" id="show2" name="show2" 
	value="1" {if $s.show2==1}checked="checked"{/if}>追号个数</label>
<label id='show3' style='color:#669900'><input type="checkbox" id="show3" name="show3" 
	value="1" {if $s.show3==1}checked="checked"{/if}>注单个数</label>&nbsp;&nbsp;
<input type="submit" value="查看" class="button" />
</td>
</tr>
<tr>
<td colspan=2>
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="100%" height="280" id="MSLine" >
<param name="movie" value="./swf/msline.swf?" />
<param name="FlashVars" value="&dataURL=./?controller=marketmgr%26action=logs%26getdatas=TRUE{$s.dates}%26show1={$s.show1}%26show2={$s.show2}%26show3={$s.show3}%26istester={$s.istester}">
<param name="quality" value="high" />
<embed src="./swf/msline.swf?" flashVars="&dataURL=./?controller=marketmgr%26action=logs%26getdatas=TRUE{$s.dates}%26show1={$s.show1}%26show2={$s.show2}%26show3={$s.show3}%26istester={$s.istester}" quality="high" width="100%" height="280" name="MSLine" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object>
  		</td>
  	</tr>
	</form>
  </table>
</div>
{include file="pagefooter.html"}