{include file="pageheader.html"}
<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/calendar/jquery.dyndatetime.js"></script>
<script type="text/javascript" src="./js/calendar/lang/calendar-utf8.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="./js/calendar/css/calendar-green.css"  />
{literal}
<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery("#sdate").dynDateTime({
			ifFormat: "%Y-%m-%d %H:%M:00",
			daFormat: "%l;%M %p, %e %m,  %Y",
			align: "Br",
			electric: true,
			singleClick: false,
			button: ".next()", //next sibling
			showOthers: true,
			weekNumbers: true,
			//onUpdate: function(){alert('1');}
			showsTime: true
		});
		jQuery("#sdate").change(function(){
			if(! validateInputDate(jQuery("#sdate").val()) )
			{jQuery("#sdate").val('');alert("时间格式不正确,正确的格式为:2009-06-10 10:59");}
		});
		jQuery("#edate").dynDateTime({
			ifFormat: "%Y-%m-%d %H:%M:59",
			daFormat: "%l;%M %p, %e %m,  %Y",
			align: "Br",
			electric: true,
			singleClick: false,
			button: ".next()", //next sibling
			showOthers: true,
			weekNumbers: true,
			//onUpdate: function(){alert('1');}
			showsTime: true
		});
		jQuery("#edate").change(function(){
			if(! validateInputDate(jQuery("#edate").val()) )
			{jQuery("#edate").val('');alert("时间格式不正确,正确的格式为:2009-06-10 10:59");}
		});
		$("#changeorder").html($("#ordernum").val());
		$("#ordernum").change(function(){
		    $("#changeorder").html($(this).val());
		});
	});
</script>
{/literal}
<div class="form-div">
<form name="searchForm" action="" METHOD='get'>
<input type='hidden' name="controller" value="marketmgr"/>
<input type='hidden' name="action" value="userwinorder"/>
<img src="./images/icon_search.gif">
&nbsp;&nbsp;日期：
<input type="text" name="sdate" id="sdate" value="{$s.sdate|escape:html}"><img src="./images/calendar2.gif">
&nbsp;&nbsp;&nbsp;&nbsp;
<input type="text" name="edate" id="edate" value="{$s.edate|escape:html}"><img src="./images/calendar2.gif">
&nbsp;&nbsp;<span>游戏名称:</span>
<select name="lottery" id="lottery">
<option value="0">所有游戏</option>
{foreach from=$alottery item=l key=k}
<option value="{$l.lotteryid}" {if $s.lottery == $l.lotteryid} selected{/if}>{$l.cnname}</option>
{/foreach}
</select>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span id="gamelist">
</span>
<div style="line-height:8px;margin-left:34px;">&nbsp;</div>
<span style="margin-left:34px;"><b>用户搜索类型</b>&nbsp;&nbsp;
<select name="searchtype" id="searchtype">
<option value="0" {if $s.searchtype == 0} selected{/if}>中奖最多用户</option>
<option value="1" {if $s.searchtype == 1} selected{/if}>投入最多的用户</option>
<option value="2" {if $s.searchtype == 2} selected{/if}>输得最多的用户</option>
<option value="3" {if $s.searchtype == 3} selected{/if}>赢得最多的用户</option>
</select>&nbsp;&nbsp;
<b>参与排名个数</b>&nbsp;&nbsp;<input size="4"  name="ordernum" id="ordernum" type="text" value="{$s.ordernum}">
[前<span id="changeorder"></span>名]</span>&nbsp;&nbsp;
<input type="submit" value="查询" class="button">
</form>
</div>
<div class="list-div" id="listDiv">
<table cellspacing='1' cellpadding='3' id='list-table'>
  <tr>
    <th width="10%">排名</th>
	<th width="10%">用户名</th>
	<th width="15%">总投注金额</th>
	<th width="10%">销售返点</th>
	<th width="15%"><font color="Red">总中奖金额</font></th>
	<th width="10%">总结算</th>
	<th width="10%">公司利润率</th>
    <th width="10%">最近投注IP</th>
	<th width="10%">操作</th>
  </tr>

{foreach from=$aUserWinOrder item=userlist key=k}
    <tr>
    <td align="center">{$userlist.order}</td>
	<td align="center">{$userlist.username}</td>
	<td align="right">
	   {if $userlist.totalprice <= 0}<font color="Red">{else}<font color="Green">{/if}
	   {$userlist.totalprice|escape:money:4}</font>
	</td>
	<td align="right">
	   {if $userlist.totalreturn <= 0}<font color="Red">{else}<font color="Green">{/if}
	   {$userlist.totalreturn|escape:money:4}</font>
	</td>
	<td align="right">
	   {if $userlist.totalbonus <= 0}<font color="Red">{else}<font color="Green">{/if}
	   {$userlist.totalbonus|escape:money:4}</font>
	</td>
	<td align="right">
	   {if $userlist.totallose <= 0}<font color="Red">{else}<font color="Green">{/if}
	   {$userlist.totallose|escape:money:4}
	   </font>
	</td>
	<td align="right">
	   {if $userlist.companyrate <= 0}<font color="Red">{else}<font color="Green">{/if}
	   {$userlist.companyrate|escape:money:2}%
	   </font>
	</td>
    <td align="center">{$userlist.userip}</td>
	<td align="center"><a href="./?controller=marketmgr&action=userwindetail&userid={$userlist.userid}&sdate={$s.sdate}&edate={$s.edate}">详情</a></td>
  </tr>
{foreachelse}
    <tr><td class="no-records" colspan="9">无相关数据</td></tr>
{/foreach}
</table>
</div>
{literal}
<script language="JavaScript">
function showNotice(objId)
{
    var obj = document.getElementById(objId);

    if (obj)
    {
        if (obj.style.display != "block")
        {
            obj.style.display = "block";
        }
        else
        {
            obj.style.display = "none";
        }
    }
}
if (document.getElementById("listDiv"))
{
  document.getElementById("listDiv").onmouseover = function(e)
  {
    obj = Utils.srcElement(e);

    if (obj)
    {
      if (obj.parentNode.tagName.toLowerCase() == "tr") row = obj.parentNode;
      else if (obj.parentNode.parentNode.tagName.toLowerCase() == "tr") row = obj.parentNode.parentNode;
      else return;

      for (i = 0; i < row.cells.length; i++)
      {
        if (row.cells[i].tagName != "TH") row.cells[i].style.backgroundColor = '#EEF8F8';
      }
    }

  }

  document.getElementById("listDiv").onmouseout = function(e)
  {
    obj = Utils.srcElement(e);

    if (obj)
    {
      if (obj.parentNode.tagName.toLowerCase() == "tr") row = obj.parentNode;
      else if (obj.parentNode.parentNode.tagName.toLowerCase() == "tr") row = obj.parentNode.parentNode;
      else return;

      for (i = 0; i < row.cells.length; i++)
      {
          if (row.cells[i].tagName != "TH") row.cells[i].style.backgroundColor = '#FFF';
      }
    }
  }
}
</script>
{/literal}
{include file="pagefooter.html"}