{include file="pageheader.html"}
<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/calendar/jquery.dyndatetime.js"></script>
<script type="text/javascript" src="./js/calendar/lang/calendar-utf8.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="./js/calendar/css/calendar-green.css"  />
<script>
function show_no(id)
{
	$("#code_"+id).show("slow");
}
function close_no(id)
{
	$("#code_"+id).hide("slow");
}
jQuery(document).ready(function() {
	jQuery("#starttime").dynDateTime({
		ifFormat: "%Y-%m-%d %H:%M:00",
		daFormat: "%l;%M %p, %e %m,  %Y",
		align: "Br",
		electric: true,
		singleClick: false,
		button: ".next()", //next sibling
		showOthers: true,
		weekNumbers: true,
		showsTime: true
	});
	jQuery("#starttime").change(function(){
		if(! validateInputDate(jQuery("#starttime").val()) )
		{jQuery("#starttime").val('');alert("时间格式不正确,正确的格式为:2009-06-10 10:59");}
	});
	jQuery("#endtime").dynDateTime({
		ifFormat: "%Y-%m-%d %H:%M:00",
		daFormat: "%l;%M %p, %e %m,  %Y",
		align: "Br",
		electric: true,
		singleClick: false,
		button: ".next()", //next sibling
		showOthers: true,
		weekNumbers: true,
		showsTime: true
	});
});
</script>
<div class="list-div" style="padding:5px 0;">
<form action="" method="get" class="list-form">
<input type="hidden" name="controller" value="report">
<input type="hidden" name="action" value="saledetail">
<input type="hidden" name="userid" value="{$s.userid}">
&nbsp;&nbsp;&nbsp;<img src="./images/icon_search.gif" align="absmiddle">
&nbsp;&nbsp;&nbsp;模式：
<select name="modes" id="modes">
<option value="-1" {if $s.modes == -1}selected{/if}>全部模式</option>
{foreach from=$modelist item=mode key=k}
<option value="{$mode.modeid}" {if $s.modes == $mode.modeid}selected{/if}>{$mode.name}</option>
{/foreach}
</select>
&nbsp;&nbsp;&nbsp;
开始时间:<input type="text" name="starttime" id="starttime" value="{$s.starttime|escape:html}">
<img align="absmiddle" src="./images/calendar2.gif">
&nbsp;&nbsp;至&nbsp;&nbsp;
结束时间:<input type="text" name="endtime" id="endtime" value="{$s.endtime|escape:html}">
<img align="absmiddle" src="./images/calendar2.gif">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" value="查询" class="button">
</form>
</div>
<br/>
<div class="list-div">
<table cellpadding="3" cellspacing="1">
<tr>
<th>游戏</th>
<th>玩法</th>
<th>总代购费</th>
<th>实际总代购费</th>
<th>中奖金额</th>
<th>总结算</th>
</tr>
{foreach from=$lottery item=l key=k}
{foreach from=$l.methodid item=m key=k0}
<tr align="center">
{if $k0==0}
<td rowspan="{$l.count}">{$l.cnname}</td>
{/if}
<td>{$l.method.$m}</td>
<td>{$l.sum_prize.$m|escape:money:4}</td>
<td>{$l.real_prize.$m|escape:money:4}</td>
<td>{$l.sum_bonus.$m|escape:money:4}</td>
<td>{$l.total.$m|escape:money:4}</td>
</tr>
{/foreach}
<tr align="center">
<td colspan="2">小结</td>
<td>{$total.sum_prize.$k|escape:money:4}</td>
<td>{$total.real_prize.$k|escape:money:4}</td>
<td>{$total.sum_bonus.$k|escape:money:4}</td>
<td>{$total.total.$k|escape:money:4}</td>
</tr>
{/foreach}
</table>
</div>
{include file="pagefooter.html"}