@charset "utf-8";
#red_header_01 {
	background-image: url({$sSystemImagesAndCssPath}/highgame/images/new_higame/red/top_02.jpg);
	background-repeat: repeat-x;
	height: 69px; background-color:#CC0000;
}
#red_header_02 {
	background-image: url({$sSystemImagesAndCssPath}/highgame/images/new_higame/red/top_01.jpg);
	background-repeat: no-repeat;
	height: 69px;
	background-position: left;
}
html , body { overflow:hidden; }

body{
	margin: 0px;
	padding: 0px;
}
/*以下是导航菜单按钮样式*/


img {
	border: none;
}

/* dock - top */
.dock {
	position: relative; 
	height: 50px; 
	text-align: center;
	margin-right:50px;
}
.dock-container {
	height: 50px;
	right:50px;
	padding-left: 20px;
	position: absolute;
}
a.dock-item {
	display: block;
	width: 40px;
	color: #fff;
	position: absolute;
	top: 0px;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
}
.dock-item img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}
.dock-item span {
	display: none; 
    width:65Px;
	white-space:nowrap;
	text-align: center;
}
#gonggaodiv{
    float:left;
    margin-left:400px; 
    line-height: 60px;
    width:270px;
    position:absolute;
    z-index:20;
    white-space:nowrap;

}

