{include file="pageheader.html"}
{foreach from=$alottery item=lottery key=k}
<div class="right_02 d5d8de" style="width:98%;">
<div id="right_02_01" style="height:44px;">
<div class="right_02_02"></div>
<div class="title01">{$lottery|escape:html}</div>
<div class="right_02_04 floatright"></div>
</div>
<div><table width="100%" border="0" cellspacing="1" cellpadding="4">
    <tr>
      <td align="center" bgcolor="#67686b">玩法组</td>
      <td align="center" bgcolor="#67686b">奖级</td>
      <td align="center" bgcolor="#67686b">奖金</td>
      <td align="center" bgcolor="#67686b">用户返点</td>
	  <td align="center" bgcolor="#67686b">最大奖金限额</td>
    </tr>
    
    {foreach from=$UserMethod.$k item=method key=t}
	{if !empty($method.name)}
	<tr align="center">
	<td align="center" bgcolor="#CCCCCC">{$method.name|escape:html}
	</td>
	<td align="center" bgcolor="#CCCCCC">
	{foreach from=$method.nocount item=nocount key=k1}
	{$nocount.name|escape:html}<br/>
	{/foreach}</td>
	<td align="center" bgcolor="#CCCCCC">{foreach from=$method.nocount item=nocount key=k1}
	{$nocount.bonus|escape:money:4}<br/>
	{/foreach}</td>
	<td align="center" bgcolor="#CCCCCC">{if isset($method.userpoint)}{$method.userpoint|escape:html}%{/if}</td>
	<td align="center" bgcolor="#CCCCCC">{$LimitBonus|escape:money:4}</td>
	</tr>
	{/if}
	{/foreach}
    
  </table></div>
<div style="height:5px;">
<div class="right_02_24"></div>
<div class="right_02_25"></div>
</div>
</div>
{/foreach}
{include file="pagefooter.html"}