{include file="pageheader.html"}
<div class="right_02 d5d8de">
<div id="right_02_01" style="height:44px;">
<div class="right_02_02"></div>
<div class="title01">网站公告</div>
<div class="right_02_04 floatright"></div>
</div>
{if empty($notice) } 
<div class="notice01">无公告</div>
{else}
<div class="notice01" style="font-size:20px;font-weight:bold">{$notice.subject|escape:html}</div>
<div class="notice02">时间:{$notice.sendtime}</div>
<div class="notice03"></div>
<div class="notice04">{$notice.content}</div>{/if}
<div class="right_02_26">
<div class="right_02_24"></div>
<div class="right_02_25"></div>
</div>
</div>



{include file="pagefooter.html"}