<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:esun>
<head><title>{if $sSysTopMessage}[{$sSysTopMessage}] {/if}{$webtitle} {if $ur_here} - {$ur_here} {/if} </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Pragma" content="no-cache" />
<script language="javascript" type="text/javascript" src="{$sSystemImagesAndCssPath}/highgame/js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="{$sSystemImagesAndCssPath}/highgame/js/new_higame/calendar/jquery.dyndatetime.js"></script>
<script language="javascript" type="text/javascript" src="{$sSystemImagesAndCssPath}/highgame/js/new_higame/calendar/lang/calendar-utf8.js"></script>
<link rel="stylesheet" href="{$sSystemImagesAndCssPath}/highgame/js/calendar/css/calendar-blue2.css" type="text/css" />
<link rel="stylesheet" href="{$sSystemImagesAndCssPath}/highgame/css/new_higame/line.3.css" type="text/css" />
<script>
function resize(){
    window.onresize = func;
    function func(){
        if($(".main").width()<950){
            $(".main").css("width","950px");
            $(".main").css("padding","0 10px");
        }else{
            $(".main").css("{width:95%;margin:0 auto;}");
        }
    }
}
jQuery(document).ready(function() {
	resize();
	if($(".main").width()<950){
		$(".main").css("width","950px");
		$(".main").css("padding","0 10px");
	}
	jQuery("#starttime").dynDateTime({
		ifFormat: "%Y-%m-%d",
		daFormat: "%l;%M %p, %e %m,  %Y",
		align: "Br",
		electric: true,
		singleClick: true,
		button: ".next()", //next sibling
		onUpdate:function(){
			$("#starttime").change();
		},
		showOthers: true,
		weekNumbers: true,
		showsTime: false
	});
	jQuery("#starttime").change(function(){
		if(! validateInputDate(jQuery("#starttime").val()) )
		{
			jQuery("#starttime").val('');
			alert("日期格式不正确,正确的格式为:2009-06-10");
		}
		if($("#endtime").val()!="")
		{
			if($("#starttime").val()>$("#endtime").val())
			{
				$("#starttime").val("");
				alert("输入的日期不符合逻辑.");
			}
		}
	});
	jQuery("#endtime").dynDateTime({
		ifFormat: "%Y-%m-%d",
		daFormat: "%l;%M %p, %e %m,  %Y",
		align: "Br",
		electric: true,
		singleClick: true,
		button: ".next()", //next sibling
		onUpdate:function(){
			$("#endtime").change();
		},
		showOthers: true,
		weekNumbers: true,
		showsTime: false
	});
	jQuery("#endtime").change(function(){
		if(! validateInputDate(jQuery("#endtime").val()) )
		{
			jQuery("#endtime").val('');
			alert("日期格式不正确,正确的格式为:2009-06-10");
		}
		if($("#starttime").val()!="")
		{
			if($("#starttime").val()>$("#endtime").val())
			{
				$("#endtime").val("");
				alert("输入的日期不符合逻辑.");
			}
		}
	});
});
</script>
</head>
<body>
<div class="main">
<!--页面头部 -->
{if empty($sys_header_title)}
<div class="top">&nbsp;&nbsp;&nbsp;&nbsp;<a href="./" target='_top'>高频游戏</a> {if $ur_here} - {$ur_here} {/if}</div>
{/if}
<!--搜索区 -->
<div class="search">
<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
<div class="search_content">
<table width="100%" id="titlemessage" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td><b><span class="redtext">{$lotteryname}冷热号码</span></b></td>
		<td>
			<a href="?controller=game&action=hotcode&lotteryid={$lotteryid}&issuecount=30">最近30期&nbsp;</a>
			<a href="?controller=game&action=hotcode&lotteryid={$lotteryid}&issuecount=50">最近50期&nbsp;</a>
			<a href="?controller=game&action=hotcode&lotteryid={$lotteryid}&issuecount=100">最近100期&nbsp;</a>
		</td>
		<td>
			<form method="POST">
				<input type="hidden" name="controller" value="game">
				<input type="hidden" name="action" value="hotcode">
				<input type="text" value="{$starttime}" name="starttime" id="starttime">
				<img src="{$sSystemImagesAndCssPath}/highgame/images/default/calendar2.gif" style="vertical-align:middle;">
				&nbsp;&nbsp;至&nbsp;&nbsp;
				<input type="text" value="{$endtime}" name="endtime" id="endtime">
				<img src="{$sSystemImagesAndCssPath}/highgame/images/default/calendar2.gif" style="vertical-align:middle;">
				<input type="submit" id="showissue" value="">
			</form>
		</td>
	</tr>
</table>
</div>
<b class="b8"></b><b class="b7"></b><b class="b6"></b><b class="b5"></b>
</div>
<div class="code">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<table width="100%" cellpadding="4" cellspacing="0" id="hotcode">
	<tr id="title">
        {foreach from=$codegroup item=wei}
        	<th colspan="2"><span class="STYLE2">{$wei}位</span></th>
    	{/foreach}
  	</tr>
      <tr id="head">
        {foreach from=$codegroup item=wei}
        <td class="number">号码</td>
        <td class="hottitle">出现次数</td>
        {/foreach}
      </tr>
      {foreach from=$bonuscode item=bc}
      <tr>
      {foreach from=$bc item=wei key=k}
        <td class="number"><div class="ball0{if $k%2==0}1{else}2{/if}">{$wei.digit}</div></td>
        <td class="hottag">
			<img src="{$sSystemImagesAndCssPath}/highgame/images/default/tiao1.gif" height="9" width="{$wei.percent}">{$wei.count} ({$wei.percent}%)
		</td>
      {/foreach}
      </tr>
      {/foreach}
</table>
<b class="b8"></b><b class="b7"></b><b class="b6"></b><b class="b5"></b>
</div>
<!--底部区 -->
<div class="footer">
<b class="b5"></b><b class="b6"></b><b class="b7"></b><b class="b8"></b>
<div class="center">
	资金安全建议：为了您的资金安全，建议定期更换您的资金密码。<br />浏览器建议：首选为IE6或IE7浏览器，其次为火狐和Google浏览器。<br />分辨率建议：使用800×600以上的分辨率。
</div>
<b class="b8"></b><b class="b7"></b><b class="b6"></b><b class="b5"></b>
</div>
</div>
