{include file="pageheader.html"}
<script>
jQuery("document").ready( function(){
    jQuery("#chineseMoney").html(changeMoneyToChinese({$s.fmoney}));
});
function checkform()
{
    $("#startTran").attr("disabled","disabled");
    $("#startTran").attr("value","正在转账中...");
	$("#cancelTran").hide();
    return true;
}
</script>

<form action="index.php" method="post" name="updateform" onsubmit="return checkform()">
<input type="hidden" name="flag" value="doTranfer" />
<input type="hidden" name="controller" value="security" />
<input type="hidden" name="action"  {if $sign == 'in' }value="pickup"{else}value="tran"{/if} />
<div class="right_02 d5d8de">
<div class="height5">
<div class="right_02_28"></div>
<div class="right_02_29"></div>
</div>


<div><table width="100%" border="0" cellspacing="1" cellpadding="4">
  <tr>
    <td width="200" align="right" bgcolor="#CCCCCC">转{if $sign == 'in'}出{else}入{/if}频道:</td>
    <td bgcolor="#CCCCCC">{$aChannelData.$s.toChannelId}<input type="hidden" name="toChannelId" value="{$s.toChannelId}"></td>
  </tr>
  <tr>
    <td align="right" bgcolor="#CCCCCC">转{if $sign == 'in'}入{else}出{/if}金额:</td>
    <td bgcolor="#CCCCCC">{$s.fmoney|escape:money:4}<input type="hidden" name="fmoney" size="20" value="{$s.fmoney}" /></td>
  </tr>
  <tr>
    <td align="right" bgcolor="#CCCCCC">转{if $sign == 'in'}入{else}出{/if}金额(大写)</td>
    <td bgcolor="#CCCCCC"><div id="chineseMoney"></div></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td><input type="submit" name="submit" id="startTran" class="buttonnormal" value="确认转账">

      <input type="button" id="cancelTran" onclick="javascript:history.go(-1);" class="buttonnormal" value="取消" />
</td>
  </tr>
</table></div>


<div class="height5">
<div class="right_02_24"></div>
<div class="right_02_25"></div>
</div>

</div>
</form>


