{include file="pageheader.html"}

<script type="text/javascript">
{literal}
function checkform(obj)
{
	return confirm("确定要批量删除所选用户吗？");
}
{/literal}
</script>
<div class="right_02 d5d8de">
<div id="right_02_01">
<div class="right_02_02"></div>
<div class="floatleft " style="width:98%">
<table width="100%" border="0" cellspacing="1" cellpadding="0">

    
    <tr>
      <td height="43" align="center"></td>
      <td align="center">帐号</td>
      <td align="center" class="line_03">呢称</td>
      <td align="center" class="line_03">组别</td>
    </tr><tr>
      <td height="5" colspan="4" align="center"></td>
      </tr>
    {if empty($users) }
    <tr>
    	<td height="37" colspan="5" align="center" bgcolor="#CCCCCC">暂时无任何管理员</td>
    </tr>
	{else}
	{foreach from=$users item=user key=k}
    <tr>
      <td height="37" align="center" bgcolor="#CCCCCC"><span>{$k}</span></td>
      <td align="center" bgcolor="#CCCCCC">{$user.username|escape:html}</td>
      <td align="center" bgcolor="#CCCCCC">{$user.nickname|escape:html}</td>
      <td align="center" bgcolor="#CCCCCC">{if empty($user.groupname)}未指定{else}{$user.groupname|escape:html}{if $user.isspecial==0}<span style="color:#666666">[系统默认]</span>{/if}
        {if $user.issales==1}<span style="color:#FF0000">[指定销售]</span>{/if}{/if}</td>
    </tr>
    {/foreach}
	{/if}
  </table>
</div>
<div class="right_02_04 floatright"></div>
<div class="height5">
<div class="right_02_24"></div>
<div class="right_02_25"></div>
</div>
</div>
</div>
{include file="pagefooter.html"}