{% extends "account_base.html" %}
{% load i18n %}
{% block rightContent %}
<h1 class="noBottom">
	{% trans "Please transform money to account below" %}
    <span class="right">Step {{ step }} of {{ step_count }}</span>
</h1>
<form action="" method="post">
{% csrf_token %}
<div class="formRow mandatory deposit">
    <label>{% trans "deposit method" %}</label>
    {{ method.img_logo|safe }}
</div>
{% for field in form %}
<div class="formRow mandatory deposit{% if field.errors %} error{% endif %}">
{% if not field.is_hidden %}
    {{ field.label_tag }}
{% endif %}
    {{ field }}
</div>
{% endfor %}

<div class="tb-inner tb-bank-intro">
{{ method.instruction|safe }}
</div>
<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
{{ previous_fields|safe }}
<div class="formFooter">
    <div class="buttons">
    	<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
        <input type="image" src="{{ MEDIA_URL }}images/button_next.png" alt="NEXT">
    </div>
</div>
</form>
{% endblock rightContent %}