{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div id="bottomContainerGames">

        <div id="allGamesList">

            <h1>All {{ site.name }} Games
                <div class="right">
                    <img src="{{MEDIA_URL}}images/logo_wii.png" alt="Wii" hspace="5">
                    <img src="{{MEDIA_URL}}images/logo_webtv.png" alt="WebTV" hspace="5">
                    <img src="{{MEDIA_URL}}images/logo_msntv.png" alt="msnTV" hspace="5">
                    <img src="{{MEDIA_URL}}images/logo_android.png" alt="Android" hspace="5">
                    <img src="{{MEDIA_URL}}images/logo_iphone.png" alt="iPhone" hspace="5">
                    <img src="{{MEDIA_URL}}images/logo_ipad.png" alt="iPad" hspace="5">
                </div>

            </h1>

            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                <td valign="top"><a href="http://www.slotland.com/witchsbrew/slot.html?u=1PsqmtW7srIeqLTAZl"><span class="allGamesSingleGame"><img src="/images/games/gamepage/gameWitchsBrew.png" alt="Witch's Brew" align="left">
                    <span class="allGamesSingleGameTitle">Witch's Brew</span>
                    <span class="allGamesSingleGameDescription">Enjoy WILD symbols and brew yourself a Jackpot potion on this single payline slot machine!</span>
                    <div class="buttonInstantPlay"></div>

                    
                </span></a></td>
                <td valign="top"><a href="http://www.slotland.com/luckyducts/slot.html?u=1PsqmtW7srIeqLTAZl"><span class="allGamesSingleGame"><img src="/images/games/gamepage/gameLuckyDucts.png" alt="Lucky Ducts" align="left">
                    <span class="allGamesSingleGameTitle">Lucky Ducts</span>
                    <span class="allGamesSingleGameDescription">A 5 wheel, 19 payline slot where wins are multiplied up to 50 times and you get Free Spins!</span>
                    <div class="buttonInstantPlay"></div>
                    
                </span></a></td>
                <td valign="top"><a href="http://www.slotland.com/treasurebox/slot.html?u=1PsqmtW7srIeqLTAZl"><span class="allGamesSingleGame"><img src="/images/games/gamepage/gameTreasureBox.png" alt="Treasure Box" align="left">
                    <span class="allGamesSingleGameTitle">Treasure Box</span>

                    <span class="allGamesSingleGameDescription">Play this multi-reel slot for a unique slot experience. Hold reels or hit the treasury bonus!</span>
                    <div class="buttonInstantPlay"></div>
                    
                </span></a></td>
            </tr>
            <tr>
                <td colspan="3"><div class="allGamesRowSeparator"></div></td>
            </tr>
                <tr>

                <td valign="top"><a href="http://www.slotland.com/golden8/slot.html?u=1PsqmtW7srIeqLTAZl"><span class="allGamesSingleGame"><img src="/images/games/gamepage/gameGolden8.png" alt="Golden 8" align="left">
                    <span class="allGamesSingleGameTitle">Golden 8</span>
                    <span class="allGamesSingleGameDescription">A 9 wheel, 8 payline slot machine. Start collecting diamonds for free bonus spins!</span>
                    <div class="buttonInstantPlay"></div>
                    
                </span></a></td>
                <td valign="top"><a href="http://www.slotland.com/jacksorbetter/slot.html?u=1PsqmtW7srIeqLTAZl"><span class="allGamesSingleGame"><img src="/images/games/gamepage/gameJacksOrBetter.png" alt="Jacks or Better" align="left">
                    <span class="allGamesSingleGameTitle">Jacks or Better</span>

                    <span class="allGamesSingleGameDescription">Play Jacks or Better to obtain the best slot poker hand!</span>
                    <div class="buttonInstantPlay"></div>
                    
                </span></a></td>
                <td valign="top"><a href="http://www.slotland.com/wildheart/slot.html?u=1PsqmtW7srIeqLTAZl"><span class="allGamesSingleGame"><img src="/images/games/gamepage/gameWildHeart.png" alt="Wild Heart" align="left">
                    <span class="allGamesSingleGameTitle">Wild Heart</span>
                    <span class="allGamesSingleGameDescription">Try this triple video poker game and use the wild cards to increase your chances!</span>
                    <div class="buttonInstantPlay"></div>

                    
                </span></a></td>
            </tr>
            <tr>
                <td colspan="3"><div class="allGamesRowSeparator"></div></td>
            </tr>
                <tr>
                <td valign="top"><a href="http://www.slotland.com/reelriot/slot.html?u=1PsqmtW7srIeqLTAZl"><span class="allGamesSingleGame"><img src="/images/games/gamepage/gameReelRiot.png" alt="Reel Riot" align="left">
                    <span class="allGamesSingleGameTitle">Reel Riot</span>

                    <span class="allGamesSingleGameDescription">Hold the reels of Reel Riot to get the best win or enjoy the exciting bonus game!</span>
                    <div class="buttonInstantPlay"></div>
                    
                </span></a></td>
                <td valign="top"><a href="http://www.slotland.com/megaspin/slot.html?u=1PsqmtW7srIeqLTAZl"><span class="allGamesSingleGame"><img src="/images/games/gamepage/gameMegaSpin.png" alt="Mega Spin" align="left">
                    <span class="allGamesSingleGameTitle">Mega Spin</span>
                    <span class="allGamesSingleGameDescription">Spin the reels of MegaSpin to multiply your winnings and get Free Spins.</span>
                    <div class="buttonInstantPlay"></div>

                    
                </span></a></td>
                <td valign="top"><a href="http://www.slotland.com/booster/slot.html?u=1PsqmtW7srIeqLTAZl"><span class="allGamesSingleGame"><img src="/images/games/gamepage/gameBooster.png" alt="Booster" align="left">
                    <span class="allGamesSingleGameTitle">Booster</span>
                    <span class="allGamesSingleGameDescription">Boost your bet by 10 times to increase your winnings on this 3 wheel slot machine.</span>
                    <div class="buttonInstantPlay"></div>
                    
                </span></a></td>
            </tr>
            <tr>

                <td colspan="3"><div class="allGamesRowSeparator"></div></td>
            </tr>
                <tr>
                <td valign="top"><a href="http://www.slotland.com/heavymetal/slot.html?u=1PsqmtW7srIeqLTAZl"><span class="allGamesSingleGame"><img src="/images/games/gamepage/gameHeavyMetal.png" alt="Heavy Metal" align="left">
                    <span class="allGamesSingleGameTitle">Heavy Metal</span>
                    <span class="allGamesSingleGameDescription">Place bets on your game history while playing this 3 wheel, 4 payline slot machine!</span>
                    <div class="buttonInstantPlay"></div>
                    
                </span></a></td>

                <td valign="top"><a href="http://www.slotland.com/luckystars/slot.html?u=1PsqmtW7srIeqLTAZl"><span class="allGamesSingleGame"><img src="/images/games/gamepage/gameLuckyStars.png" alt="Lucky Stars" align="left">
                    <span class="allGamesSingleGameTitle">Lucky Stars</span>
                    <span class="allGamesSingleGameDescription">Collect 3 stars to enter the bonus round where your wins are multiplied by 10!</span>
                    <div class="buttonInstantPlay"></div>
                    
                </span></a></td>
                <td valign="top"><a href="http://www.slotland.com/magic/slot.html?u=1PsqmtW7srIeqLTAZl"><span class="allGamesSingleGame"><img src="/images/games/gamepage/gameMagic.png" alt="Magic" align="left">
                    <span class="allGamesSingleGameTitle">Magic</span>

                    <span class="allGamesSingleGameDescription">Feel the magic of this 5 payline slot machine, while you uncover the cool bonus feature!</span>
                    <div class="buttonInstantPlay"></div>
                    
                </span></a></td>
            </tr>
            <tr>
                <td colspan="3"><div class="allGamesRowSeparator"></div></td>
            </tr>
                <tr>

                <td valign="top"><a href="http://www.slotland.com/striking7s/slot.html?u=1PsqmtW7srIeqLTAZl"><span class="allGamesSingleGame"><img src="/images/games/gamepage/gameStriking7s.png" alt="Striking 7s" align="left">
                    <span class="allGamesSingleGameTitle">Striking 7s</span>
                    <span class="allGamesSingleGameDescription">Aim for the best possible poker hand while using the wild 7's to replace any card.</span>
                    <div class="buttonInstantPlay"></div>
                    
                </span></a></td>
                <td valign="top"><a href="http://www.slotland.com/spacejack/slot.html?u=1PsqmtW7srIeqLTAZl"><span class="allGamesSingleGame"><img src="/images/games/gamepage/gameSpaceJack.png" alt="Space Jack" align="left">
                    <span class="allGamesSingleGameTitle">Space Jack</span>

                    <span class="allGamesSingleGameDescription">Get as close to Blackjack's 21 as you can while playing with 3 hands at a time.</span>
                    <div class="buttonInstantPlay"></div>
                    
                </span></a></td>
                <td valign="top"><a href="http://www.slotland.com/fourcast/slot.html?u=1PsqmtW7srIeqLTAZl"><span class="allGamesSingleGame"><img src="/images/games/gamepage/gameFourCast.png" alt="FourCast" align="left">
                    <span class="allGamesSingleGameTitle">FourCast</span>
                    <span class="allGamesSingleGameDescription">Enjoy this unique card prediction game. Predict all 4 cards to win BIG!</span>
                    <div class="buttonInstantPlay"></div>

                    
                </span></a></td>
            </tr>
            <tr>
                <td colspan="3"><div class="allGamesRowSeparator"></div></td>
            </tr>
                <tr>
                <td valign="top"><a href="http://www.slotland.com/silverkiss/warning.html?u=1PsqmtW7srIeqLTAZl"><span class="allGamesSingleGame"><img src="/images/games/gamepage/gameSilverKiss.png" alt="Silver Kiss" align="left">
                    <span class="allGamesSingleGameTitle">Silver Kiss</span>

                    <span class="allGamesSingleGameDescription">A 5 wheel, 2 payline slot machine. Each payline with a bet on it can win!</span>
                    <div class="buttonInstantPlay"></div>
                    
                </span></a></td>
                <td valign="top"><a href="http://www.slotland.com/slotris/slot.html?u=1PsqmtW7srIeqLTAZl"><span class="allGamesSingleGame"><img src="/images/games/gamepage/gameSlotris.png" alt="Slotris" align="left">
                    <span class="allGamesSingleGameTitle">Slotris</span>
                    <span class="allGamesSingleGameDescription">Play Slotris for some slot fun and skill. Clear lines like in Tetris to win some cash!</span>
                    <div class="buttonInstantPlay"></div>

                    
                </span></a></td>
                <td valign="top"><a href="http://www.slotland.com/halloweenmagic/slot.html?u=1PsqmtW7srIeqLTAZl"><span class="allGamesSingleGame"><img src="/images/games/gamepage/gameHalloweenMagic.png" alt="Halloween Magic" align="left">
                    <span class="allGamesSingleGameTitle">Halloween Magic</span>
                    <span class="allGamesSingleGameDescription">Try the classic Magic slot machine with a Halloween touch.</span>
                    <div class="buttonInstantPlay"></div>
                    
                </span></a></td>
            </tr>
            <tr>

                <td colspan="3"><div class="allGamesRowSeparator"></div></td>
            </tr>
                <tr>
                <td valign="top"><a href="http://www.slotland.com/santasleigh/slot.html?u=1PsqmtW7srIeqLTAZl"><span class="allGamesSingleGame"><img src="/images/games/gamepage/gameSantaSleigh.png" alt="Santa Sleigh" align="left">
                    <span class="allGamesSingleGameTitle">Santa Sleigh</span>
                    <span class="allGamesSingleGameDescription">Join Santa and play this triple video poker game to get the best poker hand.</span>
                    <div class="buttonInstantPlay"></div>
                    
                </span></a></td>

            </tr>
            </table>
        </div>
    </div>
{% endblock %}