/*
Stilove na menu-to
--------------------------------------------------
*/
img
{
	vertical-align:middle;
}
#menus-container
{
	position:absolute;
	top:0;
	left:0;
	z-index:2000;
}

/* contex table menu*/
.cmenu
{
	visibility:hidden;		
	position:absolute;
	left:0;
	top:0;
	margin:0;
	padding:0;
	background-color:#888;
	border:1px solid #333;
	z-index:12000;
}
.cmenu tr
{
	min-width:200px;
}
.cmenu th,
.cmenu td a
{
	padding:4px 5px 4px 5px;
	color:white;
	font:normal 8pt Tahoma,'MS Sans Serif',sans-serif;
	text-align:left;
	white-space:nowrap;
	background-repeat:no-repeat;
	cursor:pointer;
}
.cmenu th 
{
	padding:0;
	font-weight:bold;
}
.cmenu th.title
{
	margin:0;
	padding:5px;
	color:#fc0;
	font:bold 9pt Arial,Tahoma,'MS Sans Serif',sans-serif;
	letter-spacing:1px;
	white-space:nowrap;
	background-color:#222;
	cursor:default;
}

.cmenu th.title small
{
	color:#999 !important;
	font:normal 7.5pt Tahoma !important;
	letter-spacing:0px !important;
	font-style:italic !important;
}


.cmenu th a:link,
.cmenu th a:visited
{
	border:0;
	margin:0;
	display:block;
	padding:4px 20px 4px 5px;
	color:white;
	text-decoration:none;
}
.cmenu th a:hover {}

.cmenu th.title a:link,
.cmenu th.title a:visited 
{
	padding:inherit;
	color:inherit;
}

/* Живот, Стамина, Риск, Пари */
td.st,td.at,td.rs,td.ch,td.rsp,td.gr,td.tox
{
	background-position:0 50%;
	background-repeat:no-repeat;
	font-size: 7.5pt !important;
	font-family: Tahoma, Verdana;
	padding-left:16px;
/*		letter-spacing:-1px;*/
	color:white;
}
a.st
{
	background-image:url(../icon/stamina.gif); 
	background-position:0 50%; 
	padding-left:16px !important;
}
a.ch
{
	background-image:url(../icon/bill2.gif);
	background-position:0 60%;
	padding-left:16px !important;
}
a.rs {background-image:url(../icon/siren.gif); background-position:0 50%; padding-left:16px !important;}
a.rsp {background-image:url(../icon/star2.gif); background-position:0 50%; padding-left:16px !important; }
a.gr {background-image:url(../icon/grenade.gif); background-position:0 50%; padding-left:14px !important; }

a.st,a.rs,a.ch,a.rsp,a.gr{
	background-repeat:no-repeat;
	font-size: 7.5pt !important;
	font-family: Tahoma, Verdana;
	color:white;
	display:block;
}

td.tip,th.dstr,th.upg {
	padding-left:16px;
	background-position:2% 50%;
	background-repeat:no-repeat;
	color:white;
	}
td.st {background-image:url(../icon/stamina.gif); padding-left:14px; }/*padding-a trqbva da go ima i tuk zaradi EXPLORER*/
td.at {background-image:url(../icon/flame2.gif); padding-left:14px; }
td.tox {background-image:url(../icon/biohazard.gif); padding-left:14px; }
td.gr {background-image:url(../icon/grenade.gif); padding-left:14px; }
td.rs {background-image:url(../icon/siren.gif); padding-left:16px; }
td.rsp {background-image:url(../icon/star2.gif); padding-left:16px; }
td.ch {background-image:url(../icon/bill2.gif); background-position:0 60%;}
td.nfo {padding-left:17px;  background:transparent url(../icon/tip3.gif) 1% 50% no-repeat;}
th.dstr {background-image:url(../icon/bomb.gif);}
th.upg {background-image:url(../icon/wizard.gif);}


.obj_flag 
{
	overflow:hidden;

	position:absolute;
	width:40px;
	height:64px;
	left:77px; 
	bottom:78px;
	display:block;	
	overflow:hidden;
	background-image: url(../map/obj_flags.gif);
	background-repeat:no-repeat;

	z-index:2001;
}
.obj_my		{ background-position: 0px		0px; }
.obj_gang	{ background-position: -40px	0px; }
.obj_friends{ background-position: -80px	0px; }
.obj_none	{ background-position: -220px	0px; }
.obj_city	{ background-position: -120px	0px; }
.obj_other	{ background-position: -160px	0px; }
.obj_enemy	{ background-position: -200px	0px; }

/* minimap table variant*/
.minimap td.mmmy,
.minimap td.mmg,
.minimap td.mmf,
.minimap td.mmn,
.minimap td.mmc,
.minimap td.mme,
.minimap td.mmo
{
	width:6px;
	height:6px;
	font-size:6px !important;
	overflow:hidden;
	/*cursor:arrow !important;*/
}
.mmmy { background-color:#6c0 !important; } /* mine */
.mmg { background-color:#09c !important; } /* my gang */
.mmf { background-color:#90c !important; } /* city */
.mmn { background-color:#000 !important; 	/*	cursor:default !important;*/ } /* missing building */
.mmc { background-color:#444 !important; } /* city / non-slaved buildings */
.mme { background-color:#f00 !important; } /* enemy-gang */
.mmo { background-color:#fa0 !important; } /* other gangster */


.minimap td,
.minimap td table td,
.minimap td table {
	padding: 0;
	margin: 0;
}
.minimap td table td{
	margin: 0;
}
.minimap td div {
	display: block; 
	height:15px;
	width:15px;
	position:relative;
}

table.block {
	width: 9px;
}
.inline { display:inline;}
.abs {
	display:block;
	position:absolute;
}
.mid {
	position:relative;
	vertical-align:middle;
}
.no-img {
	background: none;
	background-image: none;
}

/*
Map Object Styles
--------------------------------------------------
*/
.map_head
{
	position:absolute;
	top:0;
	left:0;
	font-size:8pt;
	padding:1px 2px;
	background-color:#111;
	height:64px;
	z-index:2000;
	/*
	opacity:.9;
	filter:alpha(opacity=90);
	*/
}
html > body .map_head
{
	width:auto;
}
.map_head h2.map 
{
	padding-left:17px !important;
	background:url(../icon/street.gif) 0 2px no-repeat;
	padding-bottom:0;
	padding-top:0;
	margin:0;
}
.map_head img.avt 
{
	float:left;
	margin:1px 4px 1px 0;
	padding:1px;
	vertical-align:middle;
	border:1px solid #666;
	background-color:#333;
}
.private-map,
.private-map-10,
.private-map-winter,
.private-map-10-winter
{
	overflow:hidden;
	position:relative;
	margin:0;
	padding:0;
	width:614px;
	height:374px;
	background:transparent url('../map/map.gif') 0 -2px no-repeat;
	/*background:transparent url('../map/map_winter.gif') 0 -2px no-repeat;*/
	border:1px solid #666;
	z-index:1
}
.private-map-10 
{
	background:transparent url('../map/map_10.gif') 0 -2px no-repeat;
}
.private-map-winter
{
	background:transparent url('../map/map_09_winter.gif') 0 -2px no-repeat;	}
.private-map-10-winter
{
	background:transparent url('../map/map_10_winter.gif') 0 -2px no-repeat;	}

/*
Спотове на сградите
--------------------------------------------------
*/

.spot0  { left:81px;	bottom:229px;	z-index:10; eborder: 1px solid red;}
.spot1  { left:-8px;	bottom:184px;	z-index:20; eborder: 1px solid red;}
.spot2  { left:462px;	bottom:239px;	z-index:30; eborder: 1px solid red;}
.spot3  { left:261px;	bottom:139px;	z-index:40; eborder: 1px solid red;}
.spot4  { left:172px;	bottom:94px;	z-index:50; eborder: 1px solid red;}
.spot5  { left:82px;	bottom:49px;	z-index:60; eborder: 1px solid red;}
.spot6  { left:-8px;	bottom:4px;		z-index:70; eborder: 1px solid red;}
.spot7  { left:462px;	bottom:9px;		z-index:80; eborder: 1px solid red;}
.spot8  { left:371px;	bottom:-36px;	z-index:90; eborder: 1px solid red;}

/*
Обекти на картата
--------------------------------------------------
*/
/* Празен, личен парцел и заведения */
.ground,		.ground_over,
.myground,		.myground_over,
.mycasino,		.mycasino_over,	td div.mycasino,	.tooltip div.mycasino,
.hotel,			.hotel_over,	td div.hotel,		.tooltip div.hotel,
.hotel_man,		.hotel_man_over,td div.hotel_man,	.tooltip div.hotel_man,
.cafe,			.cafe_over,		td div.cafe,		.tooltip div.cafe,
.club,			.club_over,		td div.club,		.tooltip div.club,
.club_man,		.club_man_over,	td div.club_man,	.tooltip div.club_man,
.mycasino,		.mycasino_over,	td div.mycasino,	.tooltip div.mycasino
{
	overflow:hidden;
	display:block;
	position:absolute;
	width:145px;
	height:170px;
	background-position:0 0;
	background-color:transparent;
	background-repeat:no-repeat;
	/*border:red solid 1px;*/
}

.myground, .myground_over {
	height:124px;
	width:152px;
	background-position:-15px -46px;
	}
.myground_over {background-position:-185px -46px;}
.myground,.myground_over {background-image:url('../map/01.gif');}

.ground,.ground_over{
	height:160px;
	width:152px;
	background-position:-16px -19px;
	}
.ground_over	{background-position:-186px -19px;}
.ground,.ground_over {background-image:url('../map/00_territory.gif');}


.cafe, .cafe_over, td .cafe, .tooltip .cafe
	{
	height:157px;
	width:154px;
	background-position:-15px -18px;
	background-image:url('../map/10.gif');
	}
.cafe_over {background-position:-185px -18px;}

.club,.club_over{	background-image:url('../map/12.gif');	width:154px;	height:168px;	background-position:-15px -2px;	}
.club_man, .club_man_over{	background-image:url('../map/12_man.gif');	width:154px;	height:168px;	background-position:-15px -2px;	}
.club_over, .club_man	{background-position:-185px -2px;}

.hotel,.hotel_over{ background-image:url('../map/13.gif');	width:156px;	background-position:-15px 0px;	}
.hotel_man,.hotel_man_over { background-image:url('../map/13_man.gif');	width:156px;	background-position:-15px 0px;	}
.hotel_over,	.hotel_man_over {background-position:-185px 0px;}

.mycasino, .mycasino_over {
	background-image:url('../city/1108.gif');
	height:165px;
	width:154px;
	background-position:11px 0px;
	}
.mycasino_over	{background-position:-154px 0px;}
/* EXTRA BUILDINGS */

.bakery,	.bakery_over,
.watchmaker, .watchmaker_over,
.butchery,	.butchery_over,
.hairstyle,	.hairstyle_over,
.pizza,		.pizza_over,
.groceries,	.groceries_over,
.newsshop,	.newsshop_over,
.keymaker,	.keymaker_over,
.clothing,	.clothing_over,
.gold-craft, .gold-craft_over,
.restourant, .restourant_over,
.sweet-shop, .sweet-shop_over,
.locksmith,	.locksmith_over	
{
	overflow:hidden;
	display:block;
	position:absolute;
	width:166px;
	height:172px;
	background-position:-16px -7px;
	background-color:transparent;
	background-repeat:no-repeat;
	/*border:red solid 1px;*/
}


.newsshop,
.newsshop_over {
	background-image:url('../map/107.gif');
	}
.groceries,
.groceries_over {
	background-image:url('../map/102.gif');
	}
.bakery,
.bakery_over {
	background-image:url('../map/100.gif');
	}
.butchery,
.butchery_over {
	background-image:url('../map/103.gif');
	}
.watchmaker,
.watchmaker_over {
	background-image:url('../map/105.gif');
	}
.keymaker,
.keymaker_over {
	background-image:url('../map/101.gif');
	}
.hairstyle,
.hairstyle_over{
	background-image:url('../map/109.gif');
	}
.pizza,
.pizza_over {
	background-image:url('../map/106.gif');
}
.clothing,
.clothing_over {
	background-image:url('../map/104.gif');
}

.hairstyle_over,
.watchmaker_over,
.butchery_over,
.pizza_over,    
.groceries_over,
.bakery_over,
.newsshop_over,
.keymaker_over,
.clothing_over 
	{background-position:-186px -7px;}


/* Фабрики */
.drink_factory,		.drink_factory_over,
.softdrink_factory,	.softdrink_factory_over,
.drug_factory,		.drug_factory_over,
.edrink_factory,		.edrink_factory_over,
.cigarette_factory,	.cigarette_factory_over,
.gun_factory,		.gun_factory_over,
.dog_factory,		.dog_factory_over,
.car_factory,		.car_factory_over,
.office,				.office_over
{
	display:block;
	position:absolute;
	width:150px;
	height:151px;
	background-position:-15px -17px;
	background-color:transparent;
	background-repeat:no-repeat;
	/*border:red solid 1px;*/
}
.drink_factory,.drink_factory_over {background-image:url('../map/31.gif');}
.softdrink_factory,.softdrink_factory_over {background-image:url('../map/31_cola.gif');}
.drug_factory,.drug_factory_over {background-image:url('../map/41.gif');}
.edrink_factory,.edrink_factory_over {background-image:url('../map/41_edrink.gif');}
.cigarette_factory,.cigarette_factory_over {background-image:url('../map/41_cigarette.gif');}
.gun_factory,.gun_factory_over {background-image:url('../map/42.gif');}
.dog_factory,.dog_factory_over {background-image:url('../map/51.gif');}
.car_factory,.car_factory_over {background-image:url('../map/50.gif');}

.office, .office_over	{
	width:160px;
	height:180px;
	background-position:-15px -10px;
	background-image:url('../map/25.gif');
	}

.softdrink_factory_over,
.drink_factory_over,
.drug_factory_over,
.edrink_factory_over,
.cigarette_factory_over,
.gun_factory_over,
.dog_factory_over,
.car_factory_over	{background-position:-215px -17px;}
.office_over			{background-position:-215px -10px;}


/* ----------------------------------------------------------------------- */

td div.ground,
td div.myground {
	position:relative;
	width:170px;
	height:120px;
	background-position:-20px -40px;
	}

/* Фабрики */
td div.hotel,
td div.hotel_man,
td div.cafe,
td div.club,
td div.club_man,
td div.softdrink_factory,
td div.drink_factory,
td div.drug_factory,
td div.edrink_factory,
td div.cigarette_factory,
td div.gun_factory,
td div.dog_factory,
td div.car_factory,
td div.office
{
	position:relative;
	margin:5px 5px 0 -15px;
	/*border:red solid 1px;*/
}

td div.mycasino
{
	position:relative;
	margin:5px 5px 0 10px;
}
.tooltip div.mycasino
{
	float:left;
	width:145px;
	position:relative;
	margin:5px 5px 0 10px;
}

.tooltip div.myground,
.tooltip div.hotel,
.tooltip div.hotel_man,
.tooltip div.cafe,
.tooltip div.club,
.tooltip div.club_man,
.tooltip div.softdrink_factory,
.tooltip div.drink_factory,
.tooltip div.drug_factory,
.tooltip div.edrink_factory,
.tooltip div.cigarette_factory,
.tooltip div.gun_factory,
.tooltip div.dog_factory,
.tooltip div.car_factory,
.tooltip div.office
{
	float:left;
	width:145px;
	position:relative;
	margin:5px 5px 0 -15px;
	/*border:red solid 1px;*/
}

.tooltip	div.bakery,
.tooltip	div.watchmaker,
.tooltip	div.butchery,
.tooltip	div.hairstyle,
.tooltip	div.pizza,
.tooltip	div.groceries,
.tooltip	div.newsshop,
.tooltip	div.keymaker,
.tooltip	div.clothing,

.tooltip	div.gold-craft,
.tooltip	div.restourant,
.tooltip	div.sweet-shop,
.tooltip	div.locksmith
{
	float:left;
	width:145px;
	position:relative;
	margin:5px 5px 0 5px;
	/*border:red solid 1px;*/
}

/*
	People, Cars
*/
.bicyclist, .bicyclist_over,
.postman, .postman_over,
.mother, .mother_over,
.doggirl, .doggirl_over,
.dogboy, .dogboy_over,
.teacher, .teacher_over,
.girl, .girl_over,
.punk, .punk_over,
.skater, .skater_over,
.inlove, .inlove_over,
.businessman, .businessman_over,
.manager, .manager_over,
.businesslady, .businesslady_over,
.hookers, .hookers_over,
.dude, .dude_over,
.oldcar, .oldcar_over,
.newcar, .newcar_over,
.taxi, .taxi_over,
.agent, .agent_over,
.mycar, .mycar_over,
.tank, .tank_over,
.hydrant, .hydrant_over,
.shaft, .shaft_over,
.garbage, .garbage_over,
.blockade, .blockade_over,
.dog, .dog_over,
.lazyboy, .lazyboy_over,
.post, .post_over,
.sign, .sign_over,
.sittingboy, .sittingboy_over,
.soccerboy, .soccerboy_over,
.upi, .upi_over,
.kid, .kid_over,
.atm, .atm_over,
.cofemachine, .cofemachine_over,
.bully, .bully_over,
.phone, .phone_over,
.worker, .worker_over,
.drugdealer, .drugdealer_over,
.drunk, .drunk_over,
.cop, .cop_over,
.santa, .santa_over,
.showwhite, .showwhite_over
{
	display:block;
	position:absolute;
	width:80px;
	height:80px;
	background:transparent url('../map/objects.gif') 0 0  no-repeat;
	/*border:1px solid red;*/
}

.dude,
.dude_over
{
	left:340px; 
	bottom:100px; 
	width:92px; 
	height:68px; 
	background-position: 0 -140px; z-index:89; 
}
.dude:hover
{
	background-position: 0 -220px;
}

.santa,
.santa_over
{
	left:345px;
	bottom:110px; 
	width:89px; 
	height:64px; 
	background-position: -520px -322px; 
	z-index:89; 
}
.santa:hover
{
	background-position: -520px -386px;
}

.showwhite,
.showwhite_over
{
	left:436px; 
	bottom:158px; 
	width:24px; 
	height:45px; 
	background-position: -610px -321px; 
	z-index:89; 
}
.showwhite:hover
{
	background-position: -610px -386px;
}

.oldcar,
.oldcar_over
{
	left:406px; 
	bottom:325px; 
	width:92px; 
	height:55px; 
	background-position: -528px -153px; 
	z-index:25; 
}
.oldcar:hover
{
	background-position: -528px -233px;
}

.taxi,
.taxi_over
{
	left:135px; 
	bottom:-5px; 
	width:99px; 
	height:68px; 
	background-position: -640px -148px; 
	z-index:92; 
}
.taxi:hover
{
	background-position: -640px -228px;
}

/*  Сивата кола
.taxi,
.taxi_over {left:135px; bottom:-5px; width:99px; height:68px; background-position: -192px -144px; z-index:92; }
.taxi_over {background-position: -192px -224px;}
*/

.cop,
.cop_over
{
	left:543px; 
	bottom:195px; 
	width:97px; 
	height:82px; 
	background-position: -416px -128px; 
	z-index:140; 
}
.cop:hover
{
	background-position: -416px -210px;
}

.mycar,
.mycar_over
{
	left:410px; 
	bottom:215px; 
	width:105px; 
	height:65px; 
	background-position: -304px -142px; 
	z-index:33; 
}
.mycar:hover
{
	background-position: -304px -224px;
}

.agent,
.agent_over
{
	left:400px; 
	bottom:214px; 
	width:115px; 
	height:69px; 
	background-position: -759px -140px; 
	z-index:34;
}
.agent:hover
{
	background-position: -759px -220px;
}

.newcar,
.newcar_over
{
	left:240px; 
	bottom:48px; 
	width:95px; 
	height:68px; 
	background-position: -96px -140px; 
	z-index:91; 
}
.newcar:hover
{
	background-position: -96px -220px;
}

.bicyclist,
.bicyclist_over
{
	left:290px; 
	bottom:310px; 
	width:31px; 
	height:41px; 
	background-position: 0 -23px; 
	z-index:100; 
}
.bicyclist:hover
{
	background-position: 0 -87px;
}

.postman,
.postman_over
{
	left:140px; 
	bottom:220px; 
	width:28px; 
	height:51px; 
	background-position: -32px -13px; 
	z-index:101; 
}
.postman:hover
{
	background-position: -32px -77px;
}

.mother,
.mother_over
{
	left:425px; 
	bottom:280px; 
	width:42px; 
	height:52px; 
	background-position: -65px -12px; 
	z-index:102; 
}
.mother:hover
{
	background-position: -65px -76px;
}

.doggirl,
.doggirl_over
{
	left:44px; 
	bottom:166px; 
	width:29px; 
	height:55px; 
	background-position: -160px -9px; 
	z-index:68; 
}
.doggirl:hover
{
	background-position: -160px -73px;
}

.dogboy,
.dogboy_over
{
	left:188px; 
	bottom:4px; 
	width:30px; 
	height:38px; 
	background-position: -544px -26px; 
	z-index:130;
}
.dogboy:hover
{
	background-position: -544px -90px;
}

.skater,
.skater_over
{
	left:310px; 
	bottom:2px; 
	width:33px; 
	height:45px; 
	background-position: -112px -19px; 
	z-index:104;
}
.skater:hover
{
	background-position: -112px -83px;
}

.teacher,
.teacher_over
{
	left:420px; 
	bottom:180px; 
	width:16px; 
	height:39px; 
	background-position: -192px -25px; 
	z-index:105; 
}
.teacher:hover
{
	background-position: -192px -89px;
}

.girl,
.girl_over
{
	left:347px; 
	bottom:78px; 
	width:15px; 
	height:37px; 
	background-position: -224px -27px; 
	z-index:114; 
}
.girl:hover
{
	background-position: -224px -91px;
}

.punk,
.punk_over
{
	left:515px; 
	bottom:248px; 
	width:15px; 
	height:38px; 
	background-position: -208px -26px; 
	z-index:107; 
}
.punk:hover
{
	background-position: -208px -90px;
}

.inlove,
.inlove_over
{
	left:62px; 
	bottom:2px; 
	width:19px; 
	height:38px; 
	background-position: -240px -27px; 
	z-index:108; 
}
.inlove:hover
{
	background-position: -240px -91px;
}

.businessman,
.businessman_over
{
	left:510px; 
	bottom:202px; 
	width:17px; 
	height:36px; 
	background-position: -272px -28px; 
	z-index:109; 
}
.businessman:hover{background-position: -272px -92px;}

.manager,
.manager_over {left:105px; bottom:205px; width:20px; height:36px; background-position: -448px -28px; z-index:126; }
.manager:hover{background-position: -448px -92px;}

.businesslady,
.businesslady_over
{
	left:480px; 
	bottom:265px; 
	width:18px; 
	height:37px; 
	background-position: -304px -27px; z-index:110; 
}
.businesslady:hover
{
	background-position: -304px -91px;
}

.hookers,
.hookers_over
{
	left:238px; 
	bottom:282px; 
	width:36px; 
	height:37px; 
	background-position: -336px -27px; z-index:211; 
}
.hookers:hover
{
	background-position: -336px -91px;
}

.tank,
.tank_over
{
	left:-15px; 
	bottom:200px; 
	width:44px; 
	height:58px; 
	background-position: 0 -326px; 
	z-index:116; 
}
.tank:hover
{
	background-position: 0 -390px;
}

.hydrant,
.hydrant_over
{
	left:355px; 
	bottom:328px; 
	width:16px; 
	height:23px; 
	background-position: -192px -329px; 
	z-index:117; 
}
.hydrant:hover
{
	background-position: -192px -393px;
}

.shaft,
.shaft_over
{
	left:230px; 
	bottom:4px; 
	width:53px; 
	height:27px; 
	background-position: -64px -357px; 
	z-index:118; 
}
.shaft:hover
{
	background-position: -64px -421px;
}

.garbage,
.garbage_over
{
	left:550px; 
	bottom:10px; 
	width:80px; 
	height:44px; 
	background-position: -224px -340px; 
	z-index:119; 
}
.garbage:hover
{
	background-position: -224px -404px;
}

.blockade,
.blockade_over
{
	left:270px; 
	bottom:20px; 
	width:33px; 
	height:31px; 
	background-position: -64px -321px; z-index:25; 
}
.blockade:hover
{
	background-position: -64px -385px;
}

.dog,
.dog_over
{
	left:234px; 
	bottom:40px; 
	width:20px; 
	height:22px; 
	background-position: -192px -363px; 
	z-index:121;
}
.dog:hover
{
	background-position: -192px -427px;
}

.post,
.post_over
{
	left:356px; 
	bottom:4px; 
	width:24px; 
	height:40px; 
	background-position: -160px -344px; 
	z-index:122; 
}
.post:hover
{
	background-position: -160px -408px;
}

.sign,
.sign_over 
{
	left:336px; 
	bottom:7px; 
	width:26px; 
	height:52px; 
	background-position: -128px -334px; 
	z-index:123; 
}
.sign:hover
{
	background-position: -128px -397px;
}

.sittingboy,
.sittingboy_over
{
	left:6px; 
	bottom:167px; 
	width:21px; 
	height:42px; 
	background-position: -416px -22px; 
	z-index:124;
}
.sittingboy:hover
{
	background-position: -416px -86px;
}

.soccerboy,
.soccerboy_over
{
	left:250px; 
	bottom:320px; 
	width:31px; 
	height:38px; 
	background-position: -384px -26px; 
	z-index:125;
}
.soccerboy:hover
{
	background-position: -384px -90px;
}

.upi,
.upi_over
{
	left:8px; 
	bottom:150px; 
	width:25px; 
	height:39px; 
	background-position: -512px -25px; 
	z-index:155;
}
.upi:hover
{
	background-position: -512px -89px;
}

.kid,
.kid_over
{
	left:104px; 
	bottom:22px; 
	width:22px; 
	height:27px; 
	background-position: -480px -37px; 
	z-index:127; 
}
.kid:hover
{
	background-position: -480px -101px;
}

.cofemachine,
.cofemachine_over
{
	left:320px; 
	bottom:137px; 
	width:28px; 
	height:43px; 
	background-position: -336px -341px; 
	z-index:143; 
}
.cofemachine:hover
{
	background-position: -336px -405px;
}

.atm,
.atm_over
{
	left:235px; 
	bottom:95px; 
	width:23px; 
	height:37px; 
	background-position: -304px -347px; 
	z-index:129; 
}
.atm:hover
{
	background-position: -304px -411px;
}

.bully,
.bully_over
{
	left:296px;
	bottom:56px;
	width:15px;
	height:36px;
	background-position: -576px -28px;
	z-index:130;
}
.bully:hover
{
	background-position: -576px -92px;
}

.phone,
.phone_over
{
	left:532px; 
	bottom:238px; 
	width:22px; 
	height:53px; 
	background-position: -384px -331px; 
	z-index:131;
}
.phone:hover
{
	background-position: -384px -395px;
}

.worker,
.worker_over
{
	left:320px; 
	bottom:322px; 
	width:22px; 
	height:43px; 
	background-position: -640px -21px; 
	z-index:132; 
}
.worker:hover
{
	background-position: -640px -85px;
}

.drugdealer,
.drugdealer_over
{
	left:12px; 
	bottom:25px; 
	width:16px; 
	height:39px; 
	background-position: -672px -25px; 
	z-index:133;
}
.drugdealer:hover
{
	background-position: -672px -89px;
}


.drunk,
.drunk_over
{
	left:370px; 
	bottom:325px; 
	width:40px; 
	height:40px; 
	background-position: -592px -24px; 
	z-index:169; 
}
.drunk:hover
{
	background-position: -592px -88px;
}


.lazyboy,
.lazyboy_over
{
	left:24px; 
	bottom:173px; 
	width:30px; 
	height:42px; 
	background-position: -416px -22px; 
	z-index:135; 
}
.lazyboy:hover
{
	background-position: -416px -86px;
}


/* Building tooltip */
div.tltp 
{
	visibility:hidden;
	margin:0;
	padding:2px;
	font-size:10px;
	color:#eee;
	background-color:#333;
	border:1px #666 solid;
}
/*Navigation links*/
.north, .north_over,
.east, .east_over,
.west, .west_over,
.south, .south_over,
.north-east, .north-east_over,
.north-west, .north-west_over,
.south-east, .south-east_over,
.south-west, .south-west_over
{
	display: block;
	position:absolute;
	background:transparent url('../map/mapdirs.gif') 0 0 no-repeat;
	width:20px;
	height:20px;
	z-index:2001;
	text-decoration:none !important;
	vertical-align:middle;
	text-align:center;
}
.north 
{
	width:30px;
}
.east 
{
	height:30px;
	background-position: -30px 0;
}
.west 
{
	height:30px;
	background-position: -96px 0;
}
.south 
{
	width:30px;
	background-position: -64px 2px;
}
.north-east 
{
	background-position: -191px 0;
}
.north-west 
{
	background-position: -224px 0px;
}
.south-east 
{
	background-position: -159px 1px;
}
.south-west	
{
	background-position: -128px 1px;
}

#map .north 
{
	top:0;
	left:280px;
}
#map .east 
{
	top:170px;
	right:0;
}
#map .west 
{
	top:170px;
	left:0;
}
#map .south 
{
	bottom:0;
	left:280px;
}
#map .north-east 
{
	top:0;
	right:0;
}
.city-map .north-west 
{
	top:0;
	left:0;
}
.private-map .north-west,
.private-map-10 .north-west,
.private-map-winter .north-west,
.private-map-10-winter .north-west 
{
	top:65px;
	left:0;
}
#map .south-east 
{
	bottom:0;
	right:0;
}
#map .south-west 
{
	bottom:0;
	left:0;
}

.north:hover 
{ 
	background-position: 0 -32px;
}
.east:hover 
{ 
	background-position: -30px -32px;
}
.west:hover 
{
	background-position: -96px -32px;
}
.south:hover 
{ 
	background-position: -64px -30px;
}
.north-east:hover 
{ 
	background-position: -191px -32px;
}
.north-west:hover 
{ 
	background-position: -224px -32px;
}
.south-east:hover 
{ 
	background-position: -159px -31px;
}
.south-west:hover 
{ 
	background-position: -128px -31px;
}

.go-minimap 
{
	display:block;
	position:absolute;
	border: 1px solid #333;
	font-size:8.5pt !important;
	background:black url(../icon/minimap.gif) 3px 1px no-repeat !important;
	padding: 0px 2px 0px 19px; 
	/*width:100px;*/
	height:16px !important;
	bottom:0px;
	right:20px;
	z-index:2001;
/*		text-align:middle;*/
	text-decoration:none !important;
}

.minimap_x,
.minimap_y 
{
	background-color: #000;
}

#map a 
{
	outline:0 !important;
}

/*

body.rtl .cmenu th,
body.rtl .cmenu td a{
	font-size:8.5pt;
	text-align:right;
	}
body.rtl .cmenu th.title {
	font:bold 9pt Tahoma,Arial,sans-serif !important;
	}

body.rtl .cmenu th.title small{
	font-size:8pt !important;
	}

body.rtl .cmenu th a:link,
body.rtl .cmenu th a:visited {
	padding:4px 5px 4px 20px;
	}
body.rtl .cmenu th a:hover {
	text-decoration:underline;
	}
body.rtl td.st, 
body.rtl td.at, 
body.rtl td.rs, 
body.rtl td.ch, 
body.rtl td.rsp, 
body.rtl td.gr, 
body.rtl td.tox {
	background-position:100% 50%;
	font:normal 8.5pt Tahoma,Arial,sans-serif;
	padding-right:16px;
	padding-left:0px !important;

	}
body.rtl a.st, 
body.rtl a.ch, 
body.rtl a.rs, 
body.rtl a.rsp, 
body.rtl a.gr {
	background-position:100% 50%; 
	padding-right:15px; 
	padding-left:5px !important;
	}

body.rtl td.tip,
body.rtl th.dstr,
body.rtl th.upg,
body.rtl td.nfo {
	padding-right:16px;
	background-position:100% 50%;
	}

body.rtl .map_head {
	left:auto;
	right:0;
	font-size:8.5pt;
	}

body.rtl .club, body.rtl .club_over{	background-image:url('map-ar/12.gif');	width:154px;	height:168px;	background-position:-15px -2px;	}
body.rtl .club_man, body.rtl .club_man_over{	background-image:url('map-ar/12.gif');	width:154px;	height:168px;	background-position:-15px -2px;	}
body.rtl .hotel, body.rtl .hotel_over{ background-image:url('map/13_man.gif');	width:156px;	background-position:-15px 0px;	}
body.rtl .drink_factory, body.rtl .drink_factory_over {background-image:url('map/31_cola.gif');}
body.rtl .office, body.rtl .office_over	{
	background-image:url('map-ar/25.gif');
	}

body.rtl .inlove,
body.rtl .inlove_over {left:57px; bottom:2px; width:45px; height:40px; background-position: -704px -24px; z-index:108; }
body.rtl .inlove_over {background-position: -704px -88px;}

body.rtl div.tltp {
	font-size:8.5pt;
	}

body.rtl #map .north-west {
	top:0;
	left:0;
}
body.rtl .city_map .north-east {
	top:0;
	right:0;
}
body.rtl .private-map .north-east,
body.rtl .private-map-10 .north-east,
body.rtl .private-map-winter .north-east,
body.rtl .private-map-10-winter .north-east 
{
	right:0;
	left:auto;
}

*/